<div class="schedule_type">
  <% if @assessment.schedule_type != "open" then %>
  <input type="radio" class="checkbox_input" name="assessment[schedule_type]" id="fixed" value="fixed"  checked/>
  <% else %>
  <input type="radio" class="checkbox_input" name="assessment[schedule_type]" id="fixed" value="fixed" />
  <%  end %>
  <span>
    <label class="checkbox_label" style="margin-right: 5px;">Fixed</label>
    Test is accessible for a fixed period of time
  </span>
</div>
