<% case(params[:action])
when "assessment_details" then %>
  <label for="assessment_name" class="name_heading" > Let's get some information about the assessment </label>

  <label for="assessment_name" class="name_label">Name of assessment</label>
  <input id="assessment_name" name="assessment[name]" maxlength="40" size="52" type="text" value="<%=h @assessment.name %>"><span id="assessment_info_name_label">40 characters</span></input>

  <div id="assessment_blank_div" style="display: none;">Assessment can not be blank</div>

  <label for="assessment_description">What is the assessment about?</label><span id="assessment_info_description_label"> A brief description </span>
  <textarea style="overflow: auto; " cols="" id="assessment_description" name="assessment[description]" value="" onkeyup="textCounter(this,document.my_edit_form.remLen,150)"  onclick="textCounter(this,document.my_edit_form.remLen,150)"></textarea>

  <span id="assessment_info_char_left_label"><input disabled type="text" name="remLen"  maxlength="3" value="150"/>&nbsp;characters left</span>
  <label for="assessment_description">Instructions for test participants <i>Optional</i></label><span id="assessment_info_char_left_desc_label">These will be shown on the start of the test</span>

  <textarea style="overflow: auto; " cols="" id="test_instruction" name="assessment[instruction_for_test]" onkeyup="textCounter(this,document.my_edit_form.remLen2,1500)" onclick="textCounter(this,document.my_edit_form.remLen2,1500)"></textarea>
  <span id="assessment_info_char_left_test_instruction"><input disabled type="text" name="remLen2" size="5" maxlength="4" value="1500"/>&nbsp;&nbsp;&nbsp;characters left</span>

  <label id="formatting_guide">Use the <a id="hoverover" href="http://redcloth.org" target="_blank"><s>formatting guide</s></a> to italicize & make bulleted lists</label>

<% when "edit_assessment_details" then %>
  <label for="assessment_name" class="name_label">Name of assessment</label>
  <input id="assessment_name" name="assessment[name]" maxlength="40" size="52" type="text" value="<%=h @assessment.name %>"><span id="assessment_info_name_label">40 characters</span></input>
  <div id="assessment_blank_div" style="display: none;">Assessment can not be blank</div>

  <label for="assessment_description">What is the assessment about?</label><span id="assessment_info_description_label"> A brief description </span>
  <textarea cols="" id="assessment_description" name="assessment[description]" value="" onkeyup="textCounter(this,document.my_edit_form.remLen,150)"  onclick="textCounter(this,document.my_edit_form.remLen,150)"><%=h @assessment.description %></textarea>
  <span id="assessment_info_char_left_label"><input disabled type="text" name="remLen"  maxlength="3" value="150"/> characters left</span>

  <label for="assessment_description">Instructions for test participants <i>Optional</i></label><span id="assessment_info_char_left_desc_label">These will be shown on the start of the test</span>
  <textarea cols="" id="test_instruction" name="assessment[instruction_for_test]" onkeyup="textCounter(this,document.my_edit_form.remLen2,1500)" onclick="textCounter(this,document.my_edit_form.remLen2,1500)"><%=h @assessment.instruction_for_test %></textarea>
  <span id="assessment_inst_left_particpant"><input disabled type="text" name="remLen2" size="5" maxlength="4" value="1500"/> characters lefts</span>
  <label id="formatting_guide">Use the <a id="hoverover" href="http://redcloth.org" target="_blank"><s>formatting guide</s></a> to italicize & make bulleted lists</label>
<% end %>
