<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  </head>

  <body>
    <form action="https://irankcentre.lionsher.com/sessions" method="post" target="_blank">
      <p>
        <label id="lbl_authorized_email" for="login">Authorized Email</label><br />
        <input id="inp_authorized_email" maxlength="50" name="email" size="20" type="text" />
      </p>
      <p>
        <label id="lbl_password" for="password">Password</label><br />
        <input id="inp_password" id="password" maxlength="50" name="password" type="password" />
      </p>
      <p>
        <input id="btn_sign_in" name="commit" type="submit" value="Sign in" />
        <a href="/forgot" id="hrf_forgot_password">forgot password?</a>
      </p>
    </form>
  </body>
</html>