<div class="qb">
  <div class="questionbank_title">
    <b> Question Banks </b>
  </div> <! close of div question bank -->
  <div class="new_question_bank_button"><input type="submit" value="New Question Bank"/></div>
</div> <! close of div qb -->