<div class="questionbank_title">
  <%= @question_bank.name %><i><%= @question_bank.type_of_question_bank %></i>
</div>
<input type="hidden" name="from" value="question_banks"/>
<input type="hidden" name="topic" value=""/>
<input type="hidden" name="subtopic" value=""/>