<%
if current_user.typeofuser == "admin" then
  @tenant = Tenant.find_by_user_id(current_user.id)
  @course_object = Course.find_all_by_user_id(current_user.id)
  @space = 0
  @course_object.each { |c| @space += c.size }
  pricing_plan = @tenant.pricing_plan
  @total_learners = User.find_all_by_user_id(current_user.id,:conditions => ["deactivated_at IS ?", nil])
end
%>

<div id ="div_footer">
  Powered By LionSher &nbsp; 
  <% if current_user.typeofuser == "admin" then%>
    <p><%=h @total_learners.length %> / <%=h pricing_plan.no_of_users %> Users &nbsp; | 
      &nbsp; <%=h (@space.to_f/((pricing_plan.space_in_gb) *1073741824) * 100).round(2) %> % Space</p>
  <% end %>
</div>
</body>
</html>
