<%#*Author : Karthik%>
<%= stylesheet_link_tag 'show' %>
<title>LionSher: About Us</title>
<div id="main_inner_left">
  <div id="main_inner_left_in">

    <h1>About Us</h1>
    
      <br/>
    <div id="interview_img_with_txt">
<p>LionSher is the voice of learning professionals. Here, professionals from different
domains, industries, and practices give you an opportunity to peek into their minds
and see what 'training, learning, talent and development' truly means.
</p>
<p>
LionSher promises admirable contributions, enlightening experiences, and jaw dropping facts from the L&D world.
It is a "learning activism" that will change the future of the learning industry.
</p>
<p>LionSher is an initiative by <a href="http://www.kernlearning.com" target="_blank"><span>Kern Learning Solutions</span></a> to capture the emerging trends
in L&D.
</p>
    </div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  </div>
</div>

<div id="sidebar">

</div><!-- sidebar ends -->