<%#*Author : Karthik%>
<%= stylesheet_link_tag 'show' %>
<div id="main">
  <div id="main_inner">

    <h1>Feedback</h1>

      <br/>
    <div id="interview_img_with_txt">
<p>Feedback matter goes here.................
</p>
    </div>
<br/>
  </div>
</div>

<div id="sidebar">
<br/><br/><br/><br/>sidebar matter goes here..............
</div><!-- sidebar ends -->