<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @report_variable.name %>
</p>


<%= link_to 'Edit', edit_report_variable_path(@report_variable) %> |
<%= link_to 'Back', report_variables_path %>
