.ie7 li.done input{
  background-color: red;
  margin-left: -15px ;
}

.ie7 li.done em{
  margin-right: 0px;
}

.ie7 label.cancel {
  margin-left: 200px;
}

li{
  list-style-type:none;
  padding:7px 0;
  width:100% !important;
  line-height: 19px;
}


#div_mainpanel{ 
  font-weight: 600;
}

input.correct{
  margin-left: 13px;
  margin-top: 7px;
}

label.correct {
  margin-left: 197px;
  font-size: 12px;
  font-weight: 300;
}

em.add_next {
  margin-left: 200px;
}

li.quest_text {
  margin-top: -10px;
}

li.done {
  margin: 20px 0px 0px 0px;
  border-top: 1px dotted #cccccc;
}

li.done em{ 
  margin-right: 230px;
}

li.upload_quest{
  text-align: right;
  margin-right: 150px;
}

li.upload_quest a, label.cancel, a.cancel, a.upload {
  color: blue;
  text-decoration: underline;
  font-style: normal;
}

li.upload_quest em {
  margin-right: 15px;
  text-decoration: none;
}

#Done {
  -moz-border-radius: 5px 5px 5px 5px;
  background-color: gray;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 3px 8px;
}

/*-----  create assessment style starts here -------*/

ul { padding-left: 25px;}
.ie7 #question_bank_name { margin-left: -15px; }
.ie7 ul {margin-left: 15px;}
.ie7 li.done1 input{ margin-left: -15px ;}

/*-----  create assessment style ends here -------*/
