#div_upper_left
{
   display: none;
}
#question_list .score_percentage_result
{
/*    background-color: red;*/
    width: 220px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    overflow: hidden;
}
#question_list .score_percentage_result label
{
    margin-right: 8px;
}
#question_list .score_percentage_result em
{
/*    background-color: yellow;*/
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
}
#question_list .score_percentage_result em s
{
    text-decoration: none;
}
#question_list #overall_chart
{
    clear:left;
}
#question_list #ResultChartDiv
{
/*    background-color: yellow;*/
    margin: 0px;
    text-align: left;
    float: left;
}
#overall_chart .correct_wrong_details
{
/*    background-color: fuchsia;*/
    width: 150px;
    float: left;
    margin-top: 80px;
    font-size: 13px;
}
#overall_chart #attempted_questions
{
    font-size: 11px;
    margin-left: 80px;
    width: 170px;
}
#overall_chart .correct_wrong_details img
{
    margin-right: 3px;
}
#overall_chart .correct_wrong_details em
{
/*    background-color: green;*/
    /*margin-left: 22px;*/
    font-style: normal;
}
#score_topic_wise
{
    clear: left;
}
#question_list h4
{
    margin-bottom: 5px;
    margin-left: 10px;
}
#question_list #info_to_learner
{
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
}
#question_list #result em
{
    text-transform: capitalize;
    margin-left: -10px;
}