#div_mainpanel #edit_assmnt_form textarea
{
    font-family: helvetica;
    font-size: 12px;
    border:#ccc 1px solid;
}
#div_mainpanel #edit_assmnt_form #assessment_description
{
    width: 325px;
}
#div_mainpanel #edit_assmnt_form #test_instruction
{
    width: 450px;
    height: 85px;
    margin-bottom: 2px;
}
#div_mainpanel #edit_assmnt_form #demographics_list
{
    margin-top: 5px;
}
#div_mainpanel #edit_assmnt_form #formatting_guide
{
    /*background-color: red;*/
    font-size: 10px;
    margin-bottom: 10px;
}
#div_mainpanel #edit_assmnt_form #formatting_guide s
{
    color: orange;
    text-decoration: none;
}
#div_mainpanel #edit_assmnt_form span
{
    font-style: normal;
}
#div_container #div_mainpanel #edit_assmnt_form #submit_btn  #assessment_submit{
    background-color: gray;
    padding: 2px 4px 2px 4px;
    color: #ffffff;
    cursor: pointer;
    border: gray;
    -moz-border-radius-topleft : 5px;
    -moz-border-radius-topright : 5px;
    -moz-border-radius-bottomleft : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.clearfix{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}
#demographics_list {margin-top: 10px;}
.ie7 #demographic_list_name { margin-top: 0.5px;}
.ie7 #demographic_list_age { margin: 30px 0px 0px -40px}
.ie7 #demographic_list_gender { margin: 60px 0px 0px -49px}
.ie7 #demographic_list_qualiftn { margin: 90px 0px 0px -56px}
.ie7 #assessment_info_name_label {margin: 35px 0px 0px 35px;}
.ie7 #assessment_info_description_label {margin:65px 0px 0px -150px; }
.ie7 #assessment_info_char_left_label {margin: 80px 0px 0px -48px;}
.ie7 #assessment_info_char_left_desc_label {margin: 160px 0px 0px -150px;}
.ie7 #assessment_send_score_info_label {margin: 293px 0px 0px -320px;}
.ie7 #assessment_send_score_info_mail {width: 300px;}
.ie7 #assessment_info_char_left_test_instruction {margin: 180px 0px 0px 10px;}
.ie7 #formatting_guide{width: 300px;}
.ie7 #demographics_list {margin-top: -50px;}