/* 
    Document   : cat_test_pattern
    Created on : 31 Jul, 2012, 12:40:29 PM
    Author     : pranitha
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#div_container
{
    background-color:white;
    top:10px;
    bottom:0px;
    padding:0;
/*    height: 100%;*/
    overflow: hidden;
}
#imported_questions{
    white-space: pre-line;
    padding-top:20px;
    padding-bottom: 28px;
}
#review_heading{
    padding-left:64px;
    font-size:14px;
    font-weight:400;
}
#review_table{
    margin-top:16px;
    border: 1px solid black;
    border-collapse: collapse;
    font-size:12px;
    box-shadow: 0 4px 2px -2px gray;
}
#review_table img{
    vertical-align: middle;
}
#review_table th,
#review_table td{
    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    border-width : thin;
    border-color: gray;
}
#review_table th{
    background-color: #EAEAEA;
    font-weight:normal;
}
#review_info{
    font-size:16px;
    margin-top:40px;
    margin-bottom:60px;
}
#review_info img{
    padding-left:40px;
    padding-right:20px;
}
#review_incomplete{
    border: none;
}
#review_marked{
    border: none;
}
#quit_test{
    border: none;
    background: url("cat_test_pattern/quit_test.png") repeat-x scroll 0 0 transparent;
    color: transparent;
    height: 36px;
    width: 132px;
    font-size: 0px;
    cursor: pointer;
}