#main_header #main_tabs #course_store
{
    background-color: #efefef;
}
#container #banner_image
{
    margin: 0px 0px 10px 0px;
}

#container #mid_panel
{
    text-align: left;
}
#container #mid_panel .mid_content
{
    /*background-color: red;*/
    width: 290px;
    margin: 20px 20px 20px 40px;
    float: left;
}
#container #mid_panel .mid_content h3
{
    margin: 0px;
    padding: 0px 0px 2px 2px;
    border-bottom: 1px dotted #ff6600;
    color: #ff6600;
    font-size: 24px;
    width: auto;
    /*background-color: red;*/
}
#container #mid_panel img
{
    margin: 80px 0px 0px 0px;
}
#container #mid_panel .mid_content #points ul
{
    color: #cc6600;
    margin: 20px 0px 0px 15px;
    padding: 0px;
}
#container #mid_panel .mid_content #points li p
{
    color: #333333;
}