#div_mainpanel #edit_org
{
    /*background-color: red;*/
    margin: 0px 20px 0px 15px;
}
#div_mainpanel #edit_org h1
{
   margin-left: 0px;
}
#div_mainpanel #logo_label
{
    /*background-color: red;*/
    color: #333333;
    font-size: 14px;
    clear: left;
    float: left;
    margin: 0px 0px 0px 0px;
}
#div_mainpanel #logo_label span
{
    /*background-color: yellow;*/
    font-weight: normal;
    font-size: 11px;
    color: gray;
    margin-bottom: 10px;
}
#div_mainpanel #logo_label span s
{
    font-style: italic;
    text-decoration: none;
}
#div_mainpanel #display_logo
{
    /*background-color: fuchsia;*/
    width: 150px;
    /*height: 100px;*/
    text-align: left;
    /*border: solid 1px #bdbdbd;*/
    /*margin: 5px 0px 5px 0px;*/
}
#div_mainpanel #display_logo img
{
    margin: 10px 10px 5px 10px;
}
#div_mainpanel #org
{
    float: left;
    width: 300px;
    margin: 5px 0px 20px 0px;
    border:1px solid #CCCCCC;
    clear:left;
    font-size:12px;
    padding:2px 2px 2px 3px;
    width:300px;
}
#div_mainpanel #logo_org
{
    width: 400px;
    border:#cccccc 1px solid;
    margin: 5px 0px 20px 0px;
    clear: left;
    float: left;
}
#div_mainpanel hr {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: #ccc 1px dotted;
    clear: left;
    padding-top: 5px;
    margin: 10px 0px 20px 0px;
}
#div_mainpanel #save_changes
{
    border: gray 1px solid;
    font-size: 12px;
    padding: 3px 8px 3px 8px;
    margin-right: 20px;
    background-color: gray;
    color: white;
    cursor: pointer;
    float: left;
    -moz-border-radius-topleft : 5px;
    -moz-border-radius-topright : 5px;
    -moz-border-radius-bottomleft : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#div_mainpanel #custom_themes
{
    /*height: 100px;*/
    margin: 0px 0px 20px 0px;
    clear: left;
    float: left;
    /*background-color: red;*/
}
#div_mainpanel #custom_themes input
{
    border: gray 1px solid;
    font-size: 12px;
    width: 160px;
    height: 30px;
    /*padding: 5px 5px 5px 20px;*/
    margin: 12px 6px 0px 0px;
    cursor: pointer;
    position: relative;
    -moz-border-radius-topleft : 5px;
    -moz-border-radius-topright : 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
#div_container #custom_themes #pink
{
    border: #ff9999 1px solid;
    background-color: #ff9999;
    color: #990000;
}
#div_container #custom_themes #maroon
{
    border: #990033 1px solid;
    background-color: #990033;
    color: #ff9933;
}
#div_container #custom_themes #light_green
{
    border: #99cc33 1px solid;
    background-color: #99cc33;
    color: #666633;
    margin-left: 15px;
}
#div_container #custom_themes #dark_green
{
    border: #003300 1px solid;
    background-color: #003300;
    color: #ffffff;
    margin-right: 0px;
}
#div_container #custom_themes #light_blue
{
    border: #66ccff 1px solid;
    background-color: #66ccff;
    color: #000000;
}
#div_container #custom_themes #dark_blue
{
    border: #000066 1px solid;
    background-color: #000066;
    color: #ffffff;
}
#div_container #custom_themes #light_yellow
{
    border: #fff79a 1px solid;
    background-color: #fff79a;
    color: #000000;
    margin-left: 15px;
}
#div_container #custom_themes #dark_yellow
{
    border: #ffcc33 1px solid;
    background-color: #ffcc33;
    color: #000000;
    margin-right: 0px;
}
#div_container #custom_themes #light_orange
{
    border: #ff9933 1px solid;
    background-color: #ff9933;
    color: #663300;
}
#div_container #custom_themes #dark_orange
{
    border: #ff6600 1px solid;
    background-color: #ff6600;
    color: #330000;
}
#div_container #custom_themes #dark_pink
{
    border: #990066 1px solid;
    background-color: #990066;
    color: #ffffff;
    margin-left: 15px;
}
#div_container #custom_themes #purple
{
    border: #330066 1px solid;
    background-color: #330066;
    color: #ffffff;
    margin-right: 0px;
}
#div_container #custom_themes #gray
{
    border: #999999 1px solid;
    background-color: #999999;
    color: #000000;
}
#div_container #custom_themes #black
{
    border: #000000 1px solid;
    background-color: #000000;
    color: #ffffff;
}
#div_mainpanel #cancel
{
    /*background-color: red;*/
    /*margin:6px 0px 0px 0px;*/
    margin-top: 7px;
    color: gray;
    width: 75px;
    float: left;
}
#div_mainpanel #cancel s
{
    /*background-color: fuchsia;*/
    text-decoration: none;
    /*margin: 0px 0px 0px 0px;*/
    float: left;

}
#div_mainpanel #cancel a
{
    /*background-color: fuchsia;*/
    width: 50px;
    float: right;
    margin: 0px 0px 0px 0px;
    color: blue;
}
#div_mainpanel #cancel a:hover
{
    text-decoration: underline;
}

#div_upper_left .customise_head_bold
{
    font-weight: bold;
}
#div_upper_left .home_head_bold
{
    font-weight: normal;
}
#div_mainpanel #user_time_label
{
    background-color: red;
    clear: left;
    float: none;
}
#div_mainpanel #user_time_zone
{
    background-color:white;
    border: 1px solid #e6e6e6;
    color: #666666;
    font-size:12px;
    margin-left: 5px;
}
#div_mainpanel #time_zone_tag {
    clear: left;
    margin: 0px 0px 0px 0px;
}
#div_mainpanel #time_zone_tag  #user_time_zone{
    clear:left;
    margin: 10px 0px 0px 0px;
  
}
#div_mainpanel #time_zone_tag .select_tag{
    clear:left;
    clear: both;
   
}