#demographic_div
{
    overflow: hidden;
    /*margin-top: 290px;*/
}
.demographic_type
{
    overflow: hidden;
}
#demographic_div .demographic_type .demographic_right
{
    clear: none;
}
.demographic_type .numbering_demographic
{
    /*width: 5px;*/
/*    background-color: red;*/
    /*float: left;*/
}