body
{
    background-color: #e5e5e5;
    font-family: sans serif;
    font-family: helvetica;
}
#email_content
{
    background-color: white;
    margin: 0px auto;
    overflow:hidden;
    padding: 0px 0px 0px 20px;
    color: #333333;
}
#email_content h1
{
    margin: 10px 0px 10px 0px;
    font-size: 16px;
    font-weight: normal;
}
#email_content .email_mainpanel_content
{
    position: relative;
    font-size: 12px;
    height: 100px;
    /*background-color: red;*/
    overflow: hidden;
    
}
#email_content .email_content_pic
{
    position: absolute;
    top: 5px;
    left: 0px;
    /*background-color: yellow;*/
}
#email_content .email_content_type
{
    /*background-color: fuchsia;*/
    position: absolute;
    top: 5px;
    left: 130px;
    font-size: 10px;
    color: #999999;
}
#email_content .email_course_title
{
    /*background-color: green;*/
    position: absolute;
    top: 20px;
    left: 130px;
    font-size: 16px;
}
#email_content .email_course_title a
{
    color: blue;
}
#email_content .email_description
{
    /*background-color: gray;*/
    position: absolute;
    top: 42px;
    left: 130px;
}
hr
{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: #ccc 1px solid;
    clear: left;
    margin: 0px 10px 50px 0px;
}