#main_footer
{
    width: 960px;
    margin: 0px auto;
    overflow: hidden;
    font-size: 10px;
    background: url("lionsherhome_images/tile_footer.jpg") repeat-x scroll 0 0 transparent;
    position: relative;
}
#main_footer #main_footer_content
{
    /*background-color: fuchsia;*/
    overflow: hidden;
    margin: 10px 20px 10px 20px;
}
#main_footer p
{
    float: left;
    /*background-color: red;*/
    margin: 0px 10px 0px 0px;
    padding: 0px;
    font-weight: bold;
}
#main_footer a
{
    color: #ff6600;
    text-decoration: none;
}
.pipe
{
    float: left;
    margin-right: 10px;
}
#main_footer #main_footer_content #follow_us
{
    position: absolute;
    top: 5px;
    right: 0px;
    overflow: hidden;
}
#main_footer #main_footer_content #follow_us p
{
    margin: 0px 5px 0px 0px;
}
#main_footer #main_footer_content #follow_us a img
{
    border: none;
    background-color: transparent;
}