/* 
    Document   : login_style
    Created on : 5 Aug, 2011, 10:32:03 AM
    Author     : rajesh
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

 root {display: block;}
 p{margin-top: 0px;}
#outer_container{height: 202px;}
#login_outer_div{width: 480px; margin: 0px auto;}
#login_right{width: 180px; background-color: #fff; float: left;}
#lgn_logo{ margin: 10px 0px 0px 0px ; font-size: 12px; height: 122px; text-align: center;}
 body{margin: 0px auto; padding: 0px; font-family: "Lucida Grande", Helvetica, sans-serif;}
#login_container{width: 480px; margin-left: auto;margin-right : auto; margin-top: 120px; border: 1px solid #e5e5e5; border-top-color: #fff; margin-bottom: 2px; -moz-border-radius-topleft : 5px; -moz-border-radius-topright : 5px; -moz-border-radius-bottomleft : 5px; -moz-border-radius-bottomright : 5px; -webkit-border-top-left-radius: 5px;  -webkit-border-top-right-radius: 5px;  -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;}
#login_left{width: 258px; background-color: #f5f5f5;float: left; padding: 10px 20px 20px 20px;}
#top_login_header{width: 100%; padding-top: 5px; color: #fff; height: 24px;  -moz-border-radius-topleft : 5px; -moz-border-radius-topright : 5px;   -webkit-border-top-left-radius: 5px;   -webkit-border-top-right-radius: 5px;}
#disp_logo{ float: left;height: 90px; width: 120px; background-color: #e5e5e5; margin:-10px 0px 10px 0px; }
#file{ font-size: 12px; }
#user_time_zone{ width: 232px; font-size: 12px;}

.fld_password{width: 120px;}
.lgn_password{font-weight: 600;}
.req_email_again{ text-decoration: none;  }
.lgn_email{font-weight: 600; color: #333;}
.logo_instructions{font-size: 9px; color: gray;}
.pwd_by_lionsher{font-size: 9px; color: gray;}
.pwd_instructions{font-size: 10px; color: gray;}
.optional{font-size: 10px; color: gray; font-style: italic;}
.fgt_pwd_instrn{margin-top: 5px; font-size: 10px; color: #222;}
.lbl_forgot_pwd{font-size: 12px; font-weight: 600; color: #333;}
 label.lgn_email, label.lgn_password {font-size: 12px; color: #333;}
.organization_name{margin: 0px 0px 0px 10px; font-size: 15px; text-transform: capitalize;}
.clearfix{clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;}
.lnk_fgt_pwd{float: right; font-size: 12px; text-decoration: none; margin-top: 5px; color: blue;}
.lgn_flash_notice{font-size: 11.5px; background-color: #ffd3d5; color: #a3141a; padding-left: 2px; margin-bottom: 10px;}
.login {float: left; width: 75px; border: none; font-size: 12px; padding: 2px 2px 2px 3px; background-color: gray; color: white; cursor: pointer; -moz-border-radius-topleft : 5px; -moz-border-radius-topright : 5px; -moz-border-radius-bottomleft : 5px; -moz-border-radius-bottomright : 5px; -webkit-border-top-left-radius: 5px;  -webkit-border-top-right-radius: 5px;  -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;}
.snd_instrns {width: 115px; float: left; border: none; font-size: 12px; padding: 2px 2px 2px 3px; background-color: gray; color: white; cursor: pointer; -moz-border-radius-topleft : 5px; -moz-border-radius-topright : 5px; -moz-border-radius-bottomleft : 5px; -moz-border-radius-bottomright : 5px; -webkit-border-top-left-radius: 5px;  -webkit-border-top-right-radius: 5px;  -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;}
.activate_lbl{font-size: 10px; color: gray; margin-bottom: 5px; line-height: 2;}
.activation_hr{ border-style: dotted; color: #ccc; border-top: none; border-right: none;}
.activation_ul{ font-size: 10px; color: gray; margin: 0px 0px 0px -30px;}
.lgn_reset_pwd{   background-color: #c6ffd4;    color: #069b15;    font-size: 11.5px;    margin-bottom: 10px;    padding-left: 2px; font-family: "Lucida Grande", Helvetica, sans-serif;}
.horizontal_line{ border-bottom: 1px solid #e5e5e5; margin-top: 12px;margin-bottom: 12px;}