#right_panel_lms
{
    margin-top: 40px;
}
/* table properties of multi page test sidepanel */
#right_panel_lms #questions_table
{
    margin-left :2px;
    margin-bottom: 30px;
}
#right_panel_lms #questions_table tr
{
    height: 20px;
}
#right_panel_lms #questions_table .no_border td
{
    border-right: 1px dotted #bfbfbf;
    text-align:center;
}
#right_panel_lms #questions_table .with_border td
{
    border-top: 1px dotted #bfbfbf;
    border-right: 1px dotted #bfbfbf;
    text-align:center;
}
/* table properties of single page test sidepanel */
#right_panel_lms #questions_table_single_page
{
    margin-left :2px;
    margin-bottom: 30px;
    width: 24%;
}
#right_panel_lms #questions_table_single_page tr
{
    height: 20px;
}
#right_panel_lms #questions_table_single_page .no_border td
{
    border-right: 1px dotted #bfbfbf;
    text-align:center;
}
#right_panel_lms #questions_table_single_page .with_border td
{
    border-top: 1px dotted #bfbfbf;
    border-right: 1px dotted #bfbfbf;
    text-align:center;
}
#right_panel_lms .specifications
{
    float: left;
    width: 110px;
    margin-left: 5px;
    color: #666666;
}
.next
{
    margin-left: 85px;
}
.next .mark_for_review_lms
{
    margin-left: 20px;
}
.next .reset_lms
{
    margin-left: 200px;
}
.next .skip_lms
{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid blue;
    margin-left: 20px;
    margin-top: 8px;
    color: blue;
    width: 30px;
    cursor: pointer;
}
.ie7 #div_mainpanel .next
{
    margin-left: 30px;
}
.ie7 .next .reset_lms
{
    margin-left: 80px;
}
.ie7 .next .mark_for_review_lms
{
    width: 120px;
}
