H1 {
    font-family: century gothic, urw gothic l;
    font-size: 20pt;
    font-weight: 100;
    color: #66cc00;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: gray;
    margin:0 0 10px 0;
    padding:0 0 10px 0;
   }

H2 {
    color: #333333;
    font-family: century gothic, urw gothic l;
    background-color: #f8f4eb;
    padding: 4px;
   }

#interview_img_with_txt {
    margin: 0;
   }

#interview_img_with_txt img{
   float: left;
   margin: 0px 10px 10px;
   border: none;
   }

#interview_date_type {
    color: gray;
}

.interview_line_break {
    border-bottom: 1px gray dotted;
    margin: 5px  0;
}

em {
    margin-left: 30px;
    display: block;
    font-family: century gothic, urw gothic l;
    font-size: 15pt;
    font-style: normal;
    color: #ff6600;
    font-size: 15px;
}

a span {
    color: #ff6600;
}

a:hover span {
    text-decoration: underline;
}

h5 {
    background: #f8f4eb;
    padding: 9px;
    font-size: 10pt;
    color: #ff6600;
}

h6 {
    display: block;
    font-size: 9pt;
    color: #333333;
    font-weight: normal;
    background: url('mathew/tick.png') #f8f4eb no-repeat 0 0 ;
    padding: 0 0 3px 30px;
    margin: 10px 0 10px 10px ;
    }
dl {
     background:#f8f4eb;
     padding: 0 0 5px 0;
     margin: 0 0 20px 0;
}
dl h5 {
    margin: 0;
    text-align: center;
    font-size: 14px;
}
