.form_style{
    margin-left: 12px;
    margin-bottom: 5px;
}
#assessment_description
{
    width: 325px;
}
#assessment_info_description_label,#assessment_info_char_left_label{
    font-style:normal;
    font-size: 9px;
    color: gray;
    margin: 4px 0px 0px 7px;
}
input #assessment_info_char_left_label{
  width :25px;
}
.done_button{
  background-color: gray;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 3px 8px;
  clear: right;
  -moz-border-radius-topleft : 5px;
  -moz-border-radius-topright : 5px;
  -moz-border-radius-bottomleft : 5px;
  -moz-border-radius-bottomright : 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
#test_instruction{
    height: 85px;
    margin-bottom: 2px;
    width: 450px;
}
#div_mainpanel #existing_components th{
    padding-right: 6px;
    text-align:left;
}
#div_mainpanel #existing_components td{
  text-align:left;
}
#div_mainpanel #add_components th{
    text-align:left;
}
#scroll_table{
    overflow:auto;
}
.shedule_details select{
    background-color:white;
    border:1px solid #E6E6E6;
    color:#666666;
    font-size:11px;
    float: left;
}
.shedule_details .left_corner_select{
    margin-left: 40px;
}
.shedule_details .mid_select{
    margin-left: 5px;
}
#label_heading{
    font-weight: bold;
    color: #333333;
    font-size: 13px;
}
#create_rule_table td, #create_rule_table th{
    text-align: left;
    padding-right: 15px;
}
#create_rule_table .th_heading_padding{
  padding-top:14px;
}
h5{
    padding-top: 10px;
    color: black;
    font-size: 18px;
    font-weight: normal;
    margin: 0 10px 10px 0px;
}
.name_label{
    clear: left;
    color: gray;
    display: block;
    float: left;
    font-size: 13px;
    margin-bottom: 2px;
    margin-right: 10px;
}
.profile_style{
        border: 1px solid #CCCCCC;
    clear: left;
    display: block;
    float: left;
    font-family: helvetica;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 2px;
    padding: 2px 2px 2px 3px;
}
#div_rules{
    background-color: white;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    color: gray;
    font-size:12px;
}