<html>
<head></head>
<body>
Hello <%=h @user.login%>,<br/><br/>

Use the link below to reset your password<br/><br/>

<a href="<%=h @url%>"><%=h @url%></a><br/><br/>

Regards,<br/>
LionSher Team<br/><br/>

Ignore this email if you do not want to reset your password.
</body>
</html>