<html>
<head>
</head>
<body>
Hello <%=h @user.login %>,<br/><br/>

You have been assigned a course named <%=h @course.course_name%>. To view the course, click:<br/><br/>

<%=h @url%><br/>
If you cannot click the above link, copy and paste the above link in the browser.<br/><br/>

Your Email: <%=h @user.email%><br/><br/>

Regards,<br/>
LionSher Team<br/><br/>
Supports IE 7, Mozilla Firefox 2.0, Safari 5, Google Chrome 11.0 and above versions only.
</body>
</html>