<table width="735">
  <% @open_queries.each do |issue|%>
      <%= render :partial => "content", :locals => { :issue => issue} %>
  <% end %>
  
  <% @answered_queries.each do |issue|%>
      <%= render :partial => "content", :locals => { :issue => issue} %>
  <% end %>
</table>
