<%#*Author : Karthik%>
<%= stylesheet_link_tag 'show' %>
<title>LionSher: Contact Us</title>
<div id="main_inner_left">
  <div id="main_inner_left_in">

    <h1>Contact Us</h1>

      <br/>
    <div id="interview_img_with_txt">
<p>Tell us what you think! Love it, hate it? LionSher loves to hear from its critics and
fans. If you want to share an inspiring experience from the training world, write to
us at <a href="mailto:feedback@lionsher.com"><span>feedback@lionsher.com</span></a>
</p>
    </div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  </div>
</div>

<div id="sidebar">

</div><!-- sidebar ends -->