
<h2>New blog</h2>
<a href="/blogs">Back</a>
<form action="/blogs" class="new_blog" enctype="multipart/form-data" id="new_blog" method="post">
  <br/>
  <label for="blog_folder_name">Folder name (Blog images are stored in this folder on the server. No special characters except SPACE.)</label><br/>
  <input id="blog_folder_name" name="folder" size="65" type="text" /> (Mandatory Field)<br/><br/>
  <label for="blog_blog_name">Blog name (This appears in the side panel like "Follow <b>Mathew Kuruvilla</b> on"</label><br/>
  <input id="blog_blog_name" name="blog[blog_name]" size="65" type="text" /> (Mandatory Field)<br/><br/>
  <label for="blog_blog_title">Blog title</label><br/>
  <input id="blog_blog_title" name="blog[blog_title]" size="65" type="text" /><br/><br/>
  <label for="blog_author">Author</label><br/>
  <input id="blog_author" name="blog[author]" size="65" type="text" /><br/><br/>
  <label for="blog_blog_type">Blog type</label>
  <select id="blog_blog_type" name="blog[blog_type]"><option value="Interview">Interview</option>
  <option value="Post">Post</option></select><br/><br/>
  <label for="blog_blog_content">Blog content</label><br/>
  <textarea cols="85" id="blog_blog_content" name="blog[blog_content]" rows="85"></textarea><br/><br/>
  <label for="blog_rss_content">Rss content</label><br/>
  <textarea cols="85" id="blog_rss_content" name="blog[rss_content]" rows="5"></textarea><br/><br/>
  <label for="blog_blog_image_1">Blog image 1</label><br/>
  <input id="blog_profile_photo" name="blog[profile_photo]" size="30" type="file" /><br/><br/>
  <label for="blog_blog_image_2">Blog image 2</label><br/>
  <input id="image2_filename" name="image2[filename]" size="30" type="file" /><br/><br/>
  <label for="blog_blog_image_3">Blog image 3</label><br/>
  <input id="image3_filename" name="image3[filename]" size="30" type="file" /><br/><br/>
  <label for="blog_blog_image_4">Blog image 4</label><br/>
  <input id="image4_filename" name="image4[filename]" size="30" type="file" /><br/><br/>
  <label for="blog_blog_image_5">Blog image 5</label><br/>
  <input id="image5_filename" name="image5[filename]" size="30" type="file" /><br/><br/>
  <label for="blog_designation">Designation</label><br />
  <textarea cols="85" id="blog_designation" name="blog[designation]" rows="5"></textarea><br/><br/>
  <label for="blog_linkedin">Linkedin</label><br />
  <input id="blog_linkedin" name="blog[linkedin]" size="65" type="text" /><br/><br/>
  <label for="blog_twitter">Twitter</label><br />
  <input id="blog_twitter" name="blog[twitter]" size="65" type="text" /><br/><br/>
  <label for="blog_blog">Blog</label><br />
  <input id="blog_blog" name="blog[blog]" size="65" type="text" /><br/><br/>
  <label for="blog_facebook">Facebook</label><br />
  <input id="blog_facebook" name="blog[facebook]" size="65" type="text" /><br/><br/>
  <label for="blog_orkut">Orkut</label><br />
  <input id="blog_orkut" name="blog[orkut]" size="65" type="text" /><br/><br/>
  <label for="blog_website">Website</label><br />
  <input id="blog_website" name="blog[website]" size="65" type="text" /><br/><br/>
  <input id="blog_submit" name="commit" type="submit" value="Create" />
</form>
<br/>

