<div id="right_panel_lms">
  <% test_details = @current_learner.test_details %>
  <table id="questions_table_single_page" cellspacing="0" cellpadding="0" border="0" valign="top">
    <% k = 1
    for i in 1..(test_details.count.to_f/10).ceil
    %>
      <tr <% if i == 1 then %>class="no_border"<% else %>class="with_border"<% end %>>
      <% for j in 1..10
          if k <= test_details.count %>
            <% if test_details[k-1].marked_status == "marked" 
                  style = "background-color:#FFCC00;"
               elsif test_details[k-1].attempted_status == "answered" 
                  style = "background-color:#CCFFCC;"
               else 
                  style = "background-color:none;"
               end %>
            <td id="side_panel_qno_<%= k %>" style=<%= style %>>
              <a class="question_buttons" href="#questions_<%= k %>"><%=h k %></a>
            </td>
         <% end
          k = k + 1 
         end %>
      </tr>
    <% end %>
  </table>
  <div class="specifications"> <div style="height:15px;width:15px;background-color:#CCFFCC;float:left;"></div>&nbsp;Answered</div>
  <div class="specifications"> <div style="height:15px;width:15px;background-color:#FFCC00;float:left;"></div>&nbsp;For Review</div>
</div>
<input type="text" name="net_connection" id="net_connection" value="" style="visibility:hidden;border:none;width:180px;padding: 5px;margin: 20px 10px 0px 10px;"/>
