<select name="assessment_course_id">

  <optgroup style="font-weight:bold;background: url(/assets/elearning_small.png) no-repeat;padding-left:24px;" label="Courses:">
  <% @courses.each { |course|%>
    <option value="course:<%=h course.id %>"><%=h course.course_name %></option>
  <% } %>
  </optgroup>
  <optgroup style="font-weight:bold;background: url(/assets/assessment_smaller.png) no-repeat;padding-left:24px;" label="Tests:">
  <% @assessments.each { |assessment|%>
    <option value="assessment:<%=h assessment.id %>"><%=h assessment.name %></option>
  <% } %>
  </optgroup>
</select>