<div id="div_container">
  <form name="myForm" action="/tenants/save_smtp_settings/<%=h current_user.id %>" enctype="multipart/form-data" method="post">
    <font style="color: green"><%=h flash[:update_success]%></font>
    <h3>Select one account to send mails</h3>

    <input type="radio" name="smpt_settings[name]" value="send_grid_account_1" <% if @current_smtp_setting.name == "send_grid_account_1" then %>checked<% end %>/>
    Send grid account 1<br/><br/>

    <input type="radio" name="smpt_settings[name]" value="send_grid_account_2" <% if @current_smtp_setting.name == "send_grid_account_2" then %>checked<% end %> />
    Send grid account 2<br/><br/>

    <button type="submit">Save changes</button>
  </form>
</div>