<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @assessment_component.name %>
</p>


<%= link_to 'Edit', edit_assessment_component_path(@assessment_component) %> |
<%= link_to 'Back', assessment_components_path %>
