<%= stylesheet_link_tag 'courses_content'  %>

<div id="div_container">
  <div id="div_mainpanel">

    <h1>Create Account</h1>
    <div class="flash_confirmation"><%=h flash[:enter_details] %></div>
    <form name="myForm" action="/users/save_and_activate_package_learners/<%=h params[:id]%>" enctype="multipart/form-data" method="post" style="margin-left: 20px;">
      <label>Name</label><br/>
      <input type="text" name="user[login]" size="40"/><br/><br/>

      <label>Authorized Email</label><br/>
      <input id="authorized_email" name="user[email]" type="text" value=""/><br/><br/>

      <label>Alternative Email</label><br/>
      <input id="alternative_email" name="user[alternative_email]" type="text" value=""/><br/><br/>

      <input type="submit" value="Create"/>
    </form>
  </div>
  <div id="div_sidepanel">
      <div id="lgn_logo"><%= render :partial => "/courses/logo" %></div>
    </div>
</div>
