<head>
  <link href="/assets/lion.png" rel="icon" />
  <title>LionSher : Case Studies - Hindustan Unilever: Campus Recruitment </title>
</head>
<%= stylesheet_link_tag "website/case_studies" %>
<div class="container-body">

  <div id="main_panel">
    <b>Hindustan Unilever: Campus Recruitment</b>
    <div class="horizontal_line"></div>
    <p>
      Maadhyam, a Skill Development and Employability Training organization, approached Kern. They wanted to administer tests across multiple campuses to recruit candidates for the Hindustan Unilever Pure-IT division.
    </p>
    <p>
      Recruitments of this large a scale can be very tedious. Imagine sending multiple teams to different campuses. You have to wait for each team to finish assessments at the campus, come back, document and share reports with you
    </p>
    <p>
      They were grappling with the following challenges:<br />
      How to physically reach out to over 100 campuses? <br />
      How can assessments be administered to over 3000 students in these campuses? How will they correct these tests?<br />
      How will they generate the reports? The scores had to be segregated into separate categories such as Marketing, Verbal, Arithmetic, Indian Culture and Logical.
    </p>
    <p>
      <label class="subheadings">They selected LionSher to administer these tests online.</label></p>
    <ol type="1">
      <li>The tests were hosted on LionSher. </li>
      <li>Each college was given an admin ID and password. </li>
      <li>Each college would upload the list of candidates on LionSher.</li>
      <li>Each candidate received an email about the login ID. They went to the computer lab in their college to attempt the test.</li>
      <li>The scores were automatically captured online and a database of all the tests administered across colleges was populated.</li>
    </ol>
    <p>This simplified processes for our client tremendously: </p>
    <ul>
      <li>There was no need to physically visit the campuses. </li>
      <li>They did not have to worry about physical papers being leaked out to other campuses or to candidates within the same campus. </li>
      <li>The tests were randomly generated from a database so each person would get a different paper every time. </li>
      <li>The tests were timed and would close down automatically at the end of that time. It eliminated manual errors on correcting or recording scores.</li>
    </ul>

    <div id="testimonials">
      <p class="side_panel_text">
        <i>"I have been using LionSher for the past few weeks & I am really impressed by it. I have seen the functionality of this and I find it extremely easy to use, flexible & fast. We have been using the Assessment part of the same for a project for Hindustan Unilever- Pure-It division and are very much satisfied with the LMS. The Assessment engine is extremely user friendly for administrators and learners both."</i></p>
      <p class="side_panel_text_testimonials" style="font-weight:bold;">Nikhil Junnarkar</p>
      <p class="side_panel_text_testimonials">Chief Manager-Knowledge Resourcing</p>
      <p class="side_panel_text_testimonials">Maadhyam</p>
    </div>

  </div>
  <div id="side_panel">
    <div id="side_panel_img">
      <p class="side_panel_headings">Other Case Studies</p>
      <p><a href="/case_studies1">MNC Bank: Training, Knowledge Sharing and Assessments</a></p>
      <p><a href="/case_studies2">Lionsher Conducts Internal Promotion Tests for a Leading Pharma Company</a></p>
      <p>Hindustan Unilever: Campus Recruitment</p>
      <p><a href="/case_studies4">ProAvenues: Impact on Educational Institution</a></p>
    </div>
    <div id="side_panel_content">
      <p class="side_panel_headings">Lionsher Testimonials</p>

      <p class="side_panel_text">
        <i>"With LionSher, we were also able to break the cost and simplicity paradigms when the process was structured in a way that bandwidth that could be used to access mail was all that was required to conduct the assessments."</i></p><br />

      <p class="sidepanel_content_testimonials" style="font-weight:bold;">Amit Saboo</p>
      <p class="sidepanel_content_testimonials">CEO</p>
      <p class="sidepanel_content_testimonials">ProAvenues</p>
      <p class="side_panel_text">
        <i>"I like the Lionsher platform a lot. It's simple, clean and reasonably priced for a small business that doesn't need all the "bells and whistles" that a large enterprise needs."</i></p><br />
      <p class="sidepanel_content_testimonials" style="font-weight:bold;">Jonathan E. 'Jeb' Bates</p>
      <p class="sidepanel_content_testimonials">Chief Experience Officer</p>
      <p class="sidepanel_content_testimonials">The PaperRoom Institute LLC</p>
    </div>
  </div>


</div>