<div id="tabs-3"><!--Tab-3 div starts here -->
  <ul class="upload_form_ul" type="none" style="margin-left: 0px;">
    <li><h4> Lets get some information about you </h4></li>
    <li>
      Name <br/>
      <input id="users[login]" name="users[login]" size="30" maxlength="30" type="text" />
    </li>
    <li>
      Email id <i>&nbsp;This is your username on LionSher</i><br/>
      <input id="users[email]" name="users[email]" size="30" maxlength="30" type="text" />
    </li>
    <li>
      Company Name<br/>
      <input id="users[company_name]" name="tenants[organization]" size="30" maxlength="30" type="text" />
    </li>
    <li>
      Company Website Address <i>&nbsp; Optional</i><br/>
      <input id="users[company_url]" name="tenants[company_website]" size="50" maxlength="30" type="text" />
    </li>
    <li>
      About your company   <i>&nbsp; Optional</i><br/>
      <textarea cols="90" id=users[about_company]" name="tenants[about_your_company]" onkeyup="textCounter(this,document.myForm.remLen,150)" onclick="textCounter(this,document.myForm.remLen,150)"></textarea>
    </li>
    <li><input id="submit-tab"  type="submit" value="Submit"/></li>
  </ul>
</div><!--Tab-3 div ends here -->