<%= image_tag "website/lionsher_images/inv_comm_blue_1.png", :id =>"open_quotation" , :style =>"margin-top:15px;"%>

<div class="lionsher-info" id="lionsher-info1">
  <div class="about-lionsher" >

    <p class="p1"><i>I like the Lionsher platform a lot. It's simple,
        clean and reasonably priced for a small
        business that doesn't need
        all the "bells and whistles" that a large enterprise needs.</i></p><br />

    <label class="label-font" id="label-font1" >Jonathan E. 'Jeb' Bates</label><br />
    <p class="p1">Chief Experience Officer<br />
      The PaperRoom Institute LLC</p>
    <p class="features_testimonials_p">
      <a href="/case_studies1" class="features_testimonials_anchor">See all testimonials
      </a>
    </p>

  </div>
  <div class="about-lionsher">
    <label class="label-font" id="label-font2">Case Studies</label><br /><br />
    <a href="/case_studies1" class="p1" >
      MNC Bank: Training, Knowledge Sharing and Assessments
    </a><br /><br /><br />
    <a href="/case_studies2" class="p1" >
      Lionsher Conducts Internal Promotion Tests for a Leading Pharma Company
    </a>
    <p  class="features_testimonials_p" style="margin-top:12px;">
      <a href="/case_studies1" class="features_testimonials_anchor">more
      </a>
    </p>
  </div>
  <div class="about-lionsher">
    <label class="label-font" id="label-font2" >Pricing
      <a href="/pricing" id="see-all-plans" > View Details</a></label><br /><br />
    <table border="0" class="table1">
      <tr>
        <td>1000 tests</td>
        <td> Rs 15,000</td>
      </tr>
      <tr>
        <td>5000 tests</td>
        <td> Rs 50,000</td>
      </tr>
      <tr>
        <td>40,000 tests</td>
        <td> Rs  3,20,000</td>
      </tr>

      <tr>
        <td>100,000 tests</td>
        <td> Rs  4,00,000</td>
      </tr>
    </table>
    <p class="p1 td-font" >
      All plans have  a 1 year validity.
    </p>
  </div>
</div>
<%= image_tag "website/lionsher_images/inv_comm_blue_2.png", :id =>"close_quotation" %>