<div class="footer">
  <div class="clients">
    <h3 style="color:#404040; font-size:12px;font-weight:bold;padding-bottom:5px;">Clients</h3>
    Advance Skills Studio <br />
    Career Avenues<br />
    Cidade De Goa<br />
    Deutsche Bank<br />
    GlaxoSmithKline<br />
    iRank Centre<br />
    Indira Institute<br />
    Kraft Cadbury Foods
  </div>
  <div class="clients">
    <h3 style="color:#404040;font-size:12px;font-weight:bold;padding-bottom:20px;"></h3>
    PaperRoom Institute<br />
    Pro Avenues<br />
    Schneider Electric<br />
    Quoin Academy<br />
    The Leela, Mumbai<br />
    Vidyalankar<br /><br /><br />
  </div>
  <div class="clients">
    <h3 style="color:#404040;font-size:12px;font-weight:bold;padding-bottom:5px;">Quick Links</h3>
    <a href="/">Home</a><br />
    <a href="/features">Features</a><br />
    <a href="/pricing">Pricing</a><br />
    <a href="/case_studies1">Case Studies</a><br />
    <a href="/about_us"> About Us</a><br />
    <a href="/contact_us"> Contact Us</a><br />
    <a href="/terms_and_conditions">Terms & Conditions</a><br />
    <a href="/privacy_policy">Privacy Policy</a>
  </div>
  <div class="clients">
    <h3 style="color:#404040;font-size:12px;font-weight:bold;padding-bottom:5px;">Follow Us</h3>
    <a href="http://twitter.com/#!/lionsherden"><%= image_tag "/assets/website/lionsher_images/Twitter_logo.png" ,:class =>"valign"%><span class="label-align">@LionSherDen</span></a><br /><br />
    <a href="https://www.lionsher.com/learningden"><%= image_tag "/assets/website/lionsher_images/Blogspot_logo.png" ,:class =>"valign"%><span class="label-align">LionSher Blog</span></a><br /><br />
    <a href="http://www.linkedin.com/groups/LionSher-3053190"><%= image_tag "/assets/website/lionsher_images/linkedin_logo.png" ,:class =>"valign"%><span class="label-align">LionSher Group</span></a><br /><br />
    <!--<a href=""><%= image_tag "/assets/website/lionsher_images/FB_logo.png" ,:class =>"valign"%><label class="label-align">LionSherDen</label></a>--><br /><br />
  </div>
</div>

<!-------------------footer ends here----------->
