
<%= image_tag "website/lionsher_images/inv_comm_1.png", :id =>"open_quotation" %>
<div class="lionsher-info">

  <div class="about-lionsher"> 
    <p><i>I like the Lionsher platform a lot. It's simple,
        clean and reasonably priced for a small
        business that doesn't need
        all the "bells and whistles" that a large enterprise needs.</i></p><br />

    <label class="label-font" >Nikhil Junnarkar</label><br />
    <p>Chief Manager-Knowledge Resourcing<br />
      Maadhyam</p>
    <p style="text-align:right;font-size:11px;margin-top:3px;">
      <a href="/case_studies1" style="color:#558ED5;text-decoration:none;">See all testimonials</a></p>
  </div>

  <div class="about-lionsher">
    <label class="label-font">About Us</label>
    <p style="margin-top:4px;"> LionSher is the flagship technology product of Kern Learning Solutions Pvt. Ltd. </p><br />

    <p> We take pride in our products – its neither about technology nor
      about building a system - it is about creating an environment that supports,
      promotes, and nurtures cost-effective and easy learning.</p>
  </div>

  <div class="about-lionsher">
    <label class="label-font">  News</label>
    <p style="margin-top:4px;"><a href="" class="label-color"> New Lionsher Tests released</a></p>
    <p>A new tests with lot more useful features has launched.</p><br />

    <p><a href="" class="label-color">LionSher V2– coming soon</a></p>
    <p>As many of you wanted, now you can schedule your courses and fix number of reattempts.</p>
  </div>

</div>
<%= image_tag "website/lionsher_images/inv_comm_2.png", :id =>"close_quotation" %>