<head>
  <link href="/assets/lion.png" rel="icon" />
  <title>LionSher : Case Studies - ProAvenues: Impact on Educational Institution</title>
</head>
<%= stylesheet_link_tag "website/case_studies" %>
<div class="container-body">

  <div id="main_panel">
    <b>ProAvenues: Impact on Educational Institution</b>
    <div class="horizontal_line"></div>
    <p>
      When assessment company ProAvenues wanted to conduct assessments and training for one of the top Universities in India, it decided to partner with LionSher and conducted online assessments.
    </p>
    <p>
      Sitting in Mumbai, ProAvenues could measure the readiness levels of over 4000 students for corporate jobs with the help of LionSher.
    </p>
    <p>
      ProAvenues CEO, Amit Saboo, has this to say about the experience. "Educational institutions are always concerned about success of online assessments as they do not have the IT infrastructure like companies do. They are also more used to pen and paper tests as this tend to be far less expensive to administer. However, colleges only look at direct costs and do not take into account manpower costs that go into conducting and evaluating paper based tests. Online tests also give them faster TATs in terms of reports. With LionSher, we were also able to break the cost and simplicity paradigms when the process was structured in a way that bandwidth that could be used to access mail was all that was required to conduct the assessments. Once the university succeeded in doing 50000 assessments in a month, it was converted, and so were many more colleges that heard of the experiment."
    </p>

    <div id="testimonials">
      <p class="side_panel_text">
        <i>"With LionSher, we were also able to break the cost and simplicity paradigms when the process was structured in a way that bandwidth that could be used to access mail was all that was required to conduct the assessments."</i></p>
      <p class="side_panel_text_testimonials" style="font-weight:bold;">Amit Saboo</p>
      <p class="side_panel_text_testimonials">CEO,</p>
      <p class="side_panel_text_testimonials">ProAvenues</p>
    </div>

  </div>
  <div id="side_panel">
    <div id="side_panel_img">
      <p class="side_panel_headings">Other Case Studies</p>
      <p><a href="/case_studies1">MNC Bank: Training, Knowledge Sharing and Assessments</a></p>
      <p><a href="/case_studies2">Lionsher Conducts Internal Promotion Tests for a Leading Pharma Company</a></p>
      <p><a href="/case_studies3">Hindustan Unilever: Campus Recruitment</a></p>
      <p>ProAvenues: Impact on Educational Institution</p>
    </div>
    <div id="side_panel_content">
      <p class="side_panel_headings">Lionsher Testimonials</p>
      <p class="side_panel_text">
        <i>"I have been using LionSher for the past few weeks & I am really impressed by it. I have seen the functionality of this and I find it extremely easy to use, flexible & fast. We have been using the Assessment part of the same for a project for Hindustan Unilever- Pure-It division and are very much satisfied with the LMS. The Assessment engine is extremely user friendly for administrators and learners both."</i></p>
      <p><label style="font-weight:bold;font-style:italic;">Nikhil Junnarkar</label><br />
        Chief Manager-Knowledge Resourcing<br /> Maadhyam</p>

      <p class="side_panel_text">
        <i>"I like the Lionsher platform a lot. It's simple, clean and reasonably priced for a small business that doesn't need all the "bells and whistles" that a large enterprise needs."</i></p><br />
      <p class="sidepanel_content_testimonials" style="font-weight:bold;">Jonathan E. 'Jeb' Bates</p>
      <p class="sidepanel_content_testimonials">Chief Experience Officer</p>
      <p class="sidepanel_content_testimonials">The PaperRoom Institute LLC</p>
    </div>
  </div>


</div>