<head>
  <link href="/assets/lion.png" rel="icon" />
  <title>LionSher : Case Studies - GlaxoSmithKline Pharmaceuticals: Internal Promotion Tests & Assessments </title>
</head>
<%= stylesheet_link_tag "website/case_studies" %>
<div class="container-body">

  <div id="main_panel">
    <b>Lionsher Conducts Internal Promotion Tests for a Leading Pharma Company</b>
    <div class="horizontal_line"></div>
    <p>
      A leading pharmaceutical company, usually conducts 3 to 4 assessment centers in a year to identify high potential frontline sales force and screen them for detailed assessment center reviews later.
    </p>
    <p>
      The company has its sales force spread across small towns in India eg. Silchar, Dibrugarh, Sambalpur, Guntur, Trishur, Khammam, Sangli, Latur, Katni etc. Conducting the assessment center manually was a tedious process for the company :
    </p>
    <ol type="1">
      <li> Frontline sales people had to travel to the closest tier 1 or tier 2 cities for the
        assessment. The company incurred a cost on their travel, stay, food, and commute to
        the assessment centers.
      </li>
      <li>Two senior people from the company (1 from HR and a regional manager sales from
        another location) had to travel to the city to administer the assessment center.
      </li>
      <li>The tests and assessments had to be physically administered on the entire sales force across the country. </li>
      <li> The entire process involved a preparation time of 15-20 days, 2-3 days to administer the tests, 7-10 days for paper correction and data collation; plus the time spent on travel from the small towns to the assessment center.</li>
      <li>The entire process had to repeated for those sales officials who could not take the test for any reason.</li>
      <li>Often the company had to grapple with manual errors in correction and data transfer.
      </li>
      <li>Since assessment centers have a direct impact on employee’s career, promotion, and increments, confidentiality of assessment center info is critical. Manual data transfer across several touch points had a high risk of data leakage.</li>
      <li>Cost of 1 such assessment center for 434 sales people is about Rs 6 lakhs. Imagine the cost implication of 3 such centers in a year!</li>
    </ol>
    <p style="font-weight:bold;margin-top:10px;margin-bottom:10px;">The company decided to use Lionsher.
    </p>

    <ol>
      <li>The tests were hosted on LionSher. </li>
      <li>The company was given an admin ID and password.</li>
      <li>The admin added the list of participants who had to take the test. </li>
      <li>
        The admin defined the test parameters:
        <ol type="a">
          <li>Duration of the test </li>
          <li>Randomized the questions from the test bank </li>
          <li>Assigned scores to the test questions </li>
          <li>Defined the formats for reports</li>
        </ol>
      </li>
    </ol>
    <p>The company derived these benefits from using Lionsher:</p>
    <ol>
      <li>The tests were administered for all 434 sales people in one day across India.</li>
      <li>Everybody took the test from their respective locations – no travel involved</li>
      <li>The company got the test results instantly in real-time </li>
      <li>The test results were error-free</li>
      <li>The reports were generated instantly as soon as all participants completed the tests </li>
      <li>The online test resulted in a 99% cost saving for the company</li>
    </ol>
    <p>Today, the company uses Lionsher not only to conduct internal assessments and promotion tests but also for recruitment tests of its frontline sales force.</p>
  </div>
  <div id="side_panel">
    <div id="side_panel_img">
      <p class="side_panel_headings">Other Case Studies</p>
      <p><a href="/case_studies1">MNC Bank: Training, Knowledge Sharing and Assessments</a></p>
      <p>Lionsher Conducts Internal Promotion Tests for a Leading Pharma Company</p>
      <p><a href="/case_studies3">Hindustan Unilever: Campus Recruitment</a></p>
      <p><a href="/case_studies4">ProAvenues: Impact on Educational Institution</a></p>
    </div>
    <div id="side_panel_content">
      <p class="side_panel_headings">Lionsher Testimonials</p>


      <p class="side_panel_text">
        <i>"I have been using LionSher for the past few weeks & I am really impressed by it. I have seen the functionality of this and I find it extremely easy to use, flexible & fast. We have been using the Assessment part of the same for a project for Hindustan Unilever- Pure-It division and are very much satisfied with the LMS. The Assessment engine is extremely user friendly for administrators and learners both."</i></p>
      <p><label style="font-weight:bold;font-style:italic;">Nikhil Junnarkar</label><br />
        Chief Manager-Knowledge Resourcing<br /> Maadhyam</p>


      <p class="side_panel_text">
        <i>"With LionSher, we were also able to break the cost and simplicity paradigms when the process was structured in a way that bandwidth that could be used to access mail was all that was required to conduct the assessments."</i></p><br />

      <p class="sidepanel_content_testimonials" style="font-weight:bold;">Amit Saboo</p>
      <p class="sidepanel_content_testimonials">CEO</p>
      <p class="sidepanel_content_testimonials">ProAvenues</p>
      <p class="side_panel_text">
        <i>"I like the Lionsher platform a lot. It's simple, clean and reasonably priced for a small business that doesn't need all the "bells and whistles" that a large enterprise needs."</i></p><br />
      <p class="sidepanel_content_testimonials" style="font-weight:bold;">Jonathan E. 'Jeb' Bates</p>
      <p class="sidepanel_content_testimonials">Chief Experience Officer</p>
      <p class="sidepanel_content_testimonials">The PaperRoom Institute LLC</p>
    </div>
  </div>


</div>