<head>
  <link href="/assets/lion.png" rel="icon" />
  <title>LionSher : Case Studies - MNC Bank: Training, Knowledge Sharing and Assessments</title>
</head>
<%= stylesheet_link_tag "website/case_studies" %>
<div class="container-body">

  <div id="main_panel">
    <b>MNC Bank: Training, Knowledge Sharing and Assessments</b>
    <div class="horizontal_line"></div>
    <p>
      MNC Bank uses LionSher to conduct training and assessments for its compliance, service quality, and product teams on an ongoing basis. Bank conducts training programs for its teams across remote locations. It also conducts weekly tests to assess the knowledge gained.
    </p>
    <p>
      Earlier, Bank followed a manual process for their weekly tests:
    </p>
    <ol type="1">
      <li> Share PPTs and word documents every Monday. </li>
      <li> Is there any way to track the progress of people who have viewed the shared learning material?  </li>
      <li> How to conduct tests with minimal manual effort? </li>
      <li> How to conduct live training sessions with people and monitor their learning simultaneously?</li>
    </ol>
    <p>
      They were grappling with the following challenges:
    </p>
    <ul>
      <li> What is a simpler process of sharing these documents with teams based out of remote locations? </li>
      <li> Conduct a manual test at each branch at 5 PM on Friday.  </li>
      <li> The tests would be physically corrected at each branch. </li>
      <li> The reports would then be sent to Head Office where the scores would be collated.</li>
    </ul>
    <label class="subheadings">They selected LionSher for their training and assessment needs.</label>
    <p>
      Every Monday morning, Bank training department uploads documents and/or presentations for the compliance and product teams. It uploads product training, resources, and learning material on LionSher and shares them with the team. The team being at remote locations, access the training/learning material at their own time and pace.
    </p>
    <p>
      Once a month, they conduct live online training sessions for their team. During the web-based online sessions, they stream the presentations as well as learning content off LionSher. The implementation process is as follows:</p>

    <ol>
      <li>Bank gets an admin ID and password post registration on LionSher. </li>
      <li> Bank now has a unique URL.</li>
      <li> The admin customizes the LionSher page as per Bank logo/branding guidelines. </li>
      <li> Admin uploads the list of learners on LionSher.</li>
      <li>Admin shares learning/training resources on LionSher.</li>
      <li>The learners are given 5 days to go through the resources.</li>
      <li>LionSher tracks the number of learners who have completed/progressed with learning.</li>
      <li>Every Friday, Bank conducts an Assessment for its learners</li>
      <li>The scores are automatically captured online so they receive reports in real time.</li>
      <li> The time saved by Bank in manual training/assessment process was used productively to assess knowledge and propose needed interventions.</li>
    </ol>
    <p>
      Today, Bank uses LionSher to conduct its training and weekly assessments across all its branches across the country.
    </p>
    <!--<div id="testimonials">
      <p class="side_panel_text">
        <i>"I like the Lionsher platform a lot. It's simple, clean and reasonably priced for a small business that doesn't need all the "bells and whistles" that a large enterprise needs."</i></p>
      <p class="side_panel_text_testimonials" style="font-weight:bold;">Aston Fernandes</p>
      <p class="side_panel_text_testimonials">Head Training</p>
      <p class="side_panel_text_testimonials">Deutsche Bank AG, Filiale Mumbai</p>
    </div>-->
  </div>
  <div id="side_panel">
    <div id="side_panel_img">
      <p class="side_panel_headings">Other Case Studies</p>
      <p>MNC Bank: Training, Knowledge Sharing and Assessments</p>
      <p><a href="/case_studies2">Lionsher Conducts Internal Promotion Tests for a Leading Pharma Company</a></p>
      <p><a href="/case_studies3">Hindustan Unilever: Campus Recruitment</a></p>
      <p><a href="/case_studies4">ProAvenues: Impact on Educational Institution</a></p>
    </div>
    <div id="side_panel_content">
      <p class="side_panel_headings">Lionsher Testimonials</p>
      <p class="side_panel_text">
        <i>"I have been using LionSher for the past few weeks & I am really impressed by it. I have seen the functionality of this and I find it extremely easy to use, flexible & fast. We have been using the Assessment part of the same for a project for Hindustan Unilever- Pure-It division and are very much satisfied with the LMS. The Assessment engine is extremely user friendly for administrators and learners both."</i></p>
      <p><label style="font-weight:bold;">Nikhil Junnarkar</label><br />
        Chief Manager-Knowledge Resourcing<br /> Maadhyam</p>
      <p class="side_panel_text">
        <i>"With LionSher, we were also able to break the cost and simplicity paradigms when the process was structured in a way that bandwidth that could be used to access mail was all that was required to conduct the assessments."</i></p><br />

      <p class="sidepanel_content_testimonials" style="font-weight:bold;">Amit Saboo</p>
      <p class="sidepanel_content_testimonials">CEO</p>
      <p class="sidepanel_content_testimonials">ProAvenues</p>
      <p class="side_panel_text">
        <i>"I like the Lionsher platform a lot. It's simple, clean and reasonably priced for a small business that doesn't need all the "bells and whistles" that a large enterprise needs."</i></p><br />
      <p class="sidepanel_content_testimonials" style="font-weight:bold;">Jonathan E. 'Jeb' Bates</p>
      <p class="sidepanel_content_testimonials">Chief Experience Officer</p>
      <p class="sidepanel_content_testimonials">The PaperRoom Institute LLC</p>
    </div>
  </div>


</div>