<head><link href="/assets/lion.png" rel="icon" />
  <title>LionSher : Terms & Conditions</title>
</head>
<%= stylesheet_link_tag "website/terms_and_conditions" %>

<div class="container-body">

  <div id="middle" style="margin: 20px;">
    <h1>Terms & Conditions</h1>
    <p>These Terms were last updated on 21st March 2010. </p>
    <h2>  <p> <b>Definitions </b> </p></h2>

    <h2>"Lionsher"</h2>
    <p>is the brand of Kern Communications Pvt. Ltd. </p>

    <h2>"Access Fee"</h2>
    <p>means the monthly fee (excluding any taxes and duties) payable by you in accordance with the fee schedule set out on the Website (which Lionsher may change from time to time on notice to you). </p>

    <h2>"Confidential Information"</h2>
    <p>includes all information exchanged between the parties to this Agreement, whether in writing, electronically or orally, including the Software but does not include information which is, or becomes, publicly available other than through unauthorised disclosure by the other party. </p>

    <h2>"Data"</h2>
    <p> means any data inputted by you into the Software. </p>

    <h2>"Intellectual Property Right"</h2>
    <p>means any patent, trade mark, service mark, copyright, moral right, right in a design, know-how and any other intellectual or industrial property rights, anywhere in the world whether or not registered. "Software" means the software available (as may be changed or updated from time to time by Lionsher) via the Website. </p>

    <h2> "Website"</h2>
    <p>means any Internet site operated by Lionsher under the *.lionsher.com domain. </p>
    <h2>"Lionsher"</h2>
    <p>Means Kern Communications Pvt. Ltd. </p>


    <h2>"you"</h2>
    <p> means you and includes your employees, trainees, consultants, representatives and agents.</p>

    <h2><b>License to use Lionsher</b></h2>
    <p> Lionsher hereby grants you a non-exclusive, non-transferable, worldwide right to use the Service, solely for your own internal business purposes, subject to the terms and conditions of this Agreement. All rights not expressly granted to you are reserved by Lionsher and its licensors. You may not access the Service if you are a direct competitor of Lionsher, unless you have the prior written consent of the Directors of Kern Communications Pvt. Ltd.  </p>
    <p> In addition, you may not access the Service for purposes of monitoring its availability, performance or functionality, or for competitive purposes. You shall not license, sublicense, sell, resell, transfer, assign, distribute or otherwise commercially exploit or make available to any third party the Service or the Content in any way unless permitted & agreed upon by Lionsher. You may not modify or make derivative works based upon the Service or the Content or create Internet links to the Service, copy any ideas, features, functions or graphics of the Service.  </p>

    <h2><b>Your Responsibilities</b></h2>
    <p> You are responsible for all activity occurring under your User accounts and shall abide by all applicable local, national and international laws. You are required to immediately notify Lionsher of any unauthorized use of any password or account or if you become aware of any other breach of any of the terms of this Agreement. You are responsible for the quality, accuracy and integrity of any data and other information that you submit to Lionsher in the course of using the services. You are responsible for the quality, accuracy and integrity of any data and other information that you submit to Lionsher in the course of using the services. Lionsher will not be responsible for any corrections, deletions, or damage to your data.</p>

    <h2><b>Intellectual Property & Data </b></h2>
    <p> Title to, and all Intellectual Property Rights in, the Data remain your property. However, your access to the Data is contingent on full payment of the Lionsher Access Fee. You must maintain copies of all Data inputted into the Software.  </p>
    <p> Lionsher adheres to its best practice policies and procedures to prevent data loss, including a daily system data back-up regime, but does not make any guarantees that there will be no loss of Data. Lionsher expressly excludes liability for any loss of Data no matter how caused.  </p>
    <p> Lionsher does not pre-screen Content, but Lionsher has the right (but not the obligation) in their sole discretion to refuse or remove any Content that is available via the Service. </p>



    <h2><b>Billing and Payment</b></h2>
    <p> Lionsher bills for its services in advance. You are required to supply Lionsher with your complete, accurate and up-to-date billing details including your business name, and accounts payable contact details. You are required to pay all fees or charges to your account in accordance with the access fee, charges, and billing terms in effect at the time. Lionsher reserves the right to modify its access fee and charges and to introduce new charges at any time, upon at least 30 days prior notice to you, which notice may be provided by e-mail. </p>

    <h2><b> Service Availability & Support </b></h2>
    <p> You understand that Lionsher uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service. </p>
    <p> In the event of a service outage Lionsher will not and cannot be held liable for data loss, but will act immediately to restore customer server access.  </p>
    <p> You understand that the technical processing and transmission of the Service, including your Content, may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices. </p>
    <p> Lionsher is committed to providing an excellent level of support by email and phone. We aim to acknowledge all support requests within 12 hours and will attempt to resolve critical issues within 24 hours. Email support is available 10 am to 6 pm Indian Standard Time (GMT - 5:30)  </p>

    <h2><b>Termination for Cause</b></h2>
    <p> Any breach of your payment obligations or unauthorized use of the Lionsher Technology or Service will be deemed a material breach of this Agreement. Lionsher, in its sole discretion, may terminate your password, account or use of the Service if you breach or otherwise fail to comply with this Agreement. In addition, Lionsher may terminate a free account at any time in its sole discretion. You agree and acknowledge that Lionsher may delete your data, if you have materially breached this Agreement, including but not limited to failure to pay outstanding fees, and such breach has not been cured within 30 days of notice of such breach. </p>

    <h2><b> Representations & Warranties </b></h2>
    <p> Each party represents and warrants that it has the legal power and authority to enter into this Agreement. Lionsher represents and warrants that it will provide the Service in a manner consistent with general industry standards reasonably applicable to the provision thereof and that the Service will perform substantially in accordance with the Lionsher documentation. You represent and warrant that you have not falsely identified yourself nor provided any false information to gain access to the Service and that your billing information is correct.  </p>

    <h2><b> Indemnity </b></h2>
    <p> You shall indemnify and hold Lionsher, its licensors and each such party's parent organizations, subsidiaries, affiliates, officers, directors, employees, attorneys and agents harmless from and against any and all claims, costs, damages, losses, liabilities and expenses (including attorneys' fees and costs) arising out of or in connection with any claim provided in any such case that Lionsher gives you written notice of the claim promptly to you and provides you with all available information and assistance to settle such claim. Lionsher shall indemnify and hold you and your parent organizations, subsidiaries, affiliates, officers, directors, employees, attorneys and agents harmless from and against any and all claims, costs, damages, losses, liabilities and expenses (including attorneys' fees and costs) arising out of or in connection with claims alleging that the Service directly infringes a copyright, trademark of a third party or claims arising from breach of this Agreement by Lionsher; provided that you promptly give written notice of the claim and you provide Lionsher with all available information and assistance to settle such claim. </p>

    <h2><b> Disclaimer of Warranties </b></h2>
    <p> Lionsher makes no representation, warranty, or guaranty as to the reliability, timeliness, quality, suitability, truth, availability, accuracy or completeness of the service or any content. Lionsher doesn't represent or warrant that (a) the use of the service will be secure, timely, uninterrupted or error-free or operate in combination with any other hardware, software, system or data, (b) the service will meet your requirements or expectations, (c) any stored data will be accurate or reliable, (d) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your requirements or expectations, (e) errors or defects will be corrected, or (f) the service or the server(s) that make the service available are free of viruses or other harmful components. The service and all content is provided to you strictly on an "as is" basis. All conditions, representations and warranties, whether expressed, implied, statutory or otherwise, including, without limitation, any implied warranty of merchantability, fitness for a particular purpose, or non-infringement of third party rights, are hereby disclaimed to the maximum extent permitted by applicable law.  </p>

    <h2><b> Limitation of Liability </b></h2>
    <p> NOTWITHSTANDING ANYTHING TO THE CONTRARY IN THIS AGREEMENT, LIONSHER'S MAXIMUM AGGREGATE LIABILITY TO YOU RELATED TO OR IN CONNECTION WITH THIS AGREEMENT WILL BE LIMITED TO THE TOTAL AMOUNT PAID BY YOU IN THE PRECEDING ONE MONTH PERIOD TO LIONSHER FOR THE SERVICE. </p>

    <h2><b>Notices</b></h2>
    <p> Lionsher may give notice by general email distribution or via notification at the Lionsher login on its website.  </p>

    <h2><b> Modification to Terms </b></h2>
    <p> Lionsher reserves the right to modify the terms and conditions of this Agreement or its policies relating to the Service at any time, effective upon posting an updated version of this Agreement on the Service. </p>

    <h2><b> India Jurisdiction </b></h2>
    <p> This Agreement is governed by and is to be interpreted in accordance with laws of India. We and you irrevocably submit to the exclusive jurisdiction of the courts of India. </p>
  </div>
</div>
