<h1>Update Assessments with assessment_package_id</h1>

<form action="/assessment_packages/update_assessments_with_package_id/1" class="new_assessment_package" id="new_assessment_package" method="post">

  <p>
    <% @assessments.each { |assessment|  %>
    <input type="checkbox"  name="assessments[<%=h assessment.id %>]" />
    <label><%=h assessment.name %></label> &nbsp; | &nbsp;
    <label><%=h assessment.id %></label><br/>
    <% } %>
  </p>

  <%#*<p>%>
    <%#*<label for="assessment_package_name">Assessments with coma separated</label><br />%>
    <%#*<input id="assessment_package_name" name="assessments" size="30" type="text" />%>
  <%#*</p>%>
  <p><label for="assessment_package_user_id">Package ID</label><br />
    <input id="assessment_package_user_id" name="assessment_package[id]" size="30" type="text" />
  </p>
    <p>
    <label for="assessment_package_name">Assessment oder with coma separated</label><br />
    <input id="assessment_package_name" name="assessments_order" size="30" type="text" />
  </p>
  <p>
    <input id="assessment_package_submit" name="commit" type="submit" value="Create" />
  </p>
</form>