<div id="tabs-2"><!--Tab-2 div starts here -->
  <ul type="none" style="margin-left: -25px;">
    <li><p><h4> Lets add a price tag to your course </h4></p></li>
    <label>What is the course name ?</label>
    <p> <label>Price per license <i>you get 75% of the price LionSher charges 25% service tax</i></label></p>
    <li><p>Course Price IND Rs.<input id="courses[course_price]" name="courses[course_price]" size="10" maxlength="30" type="text" /> You Get IND Rs.___________</p></li>
    <li><p><h4>Course Validity</h4></p></li>
    <select name="course[course_expiry_year]">
      <% for i in 0..12 %>
        <option value="<%=h i %>"><%=h i %> years</option>
      <% end %>
    </select>
    <select name="course[course_expiry_month]">
      <% for i in 1..12 %>
        <option value="<%=h i %>"><%=h i %> months</option>
      <% end %>
    </select>
  </ul>
</div><!--Tab-2 div ends here -->