<%= stylesheet_link_tag 'courses_content'  %>
<%= stylesheet_link_tag 'upload_course'  %>
<%= javascript_include_tag 'themes' %>
<%= stylesheet_link_tag 'for_ie_7'  %>
<%= javascript_include_tag 'assessment' %>

<div id="div_container">
  <div id="div_mainpanel">
    <h1> Invalid Coupon Code entered.</h1>
  </div>
  <div id="div_sidepanel">
  </div>

</div>