.container-body{
    margin-bottom:20px;
    overflow: hidden;
}
.header-middle-content #casestudies
{
    color:  #FF9933;
}
#main_panel{
    padding-left:20px;
    float:left;
    margin-right:20px;
    width:650px;
    font-family:"Lucida Grande", sans-serif;
}
#side_panel{
    padding-right:10px;
    font-family:"Lucida Grande", sans-serif;
}
b{
    color:#FF8C00;
    font-size:14px;
}
.subheadings{
    font-weight:bold;
    color:#404040;
    padding-right:10px;
}
p{
    padding-top:10px;
    color:#595959;
}
li{
    color: #595959;
    padding-top:2px;
    margin-left: -10px;
}
#testimonials{
    margin : 30px 5px;
    border: 1px dotted lightgrey;
    padding:5px;
    padding-top:0px;
}
#side_panel #side_panel_img{
    height:180px;
    margin-left:670px;
}
#side_panel #side_panel_content{
    margin-top:10px;
    margin-left:690px;
    paddinf-left:10px;
}
.side_panel_headings{
    font-size:14px;
    color: #595959;
}
#side_panel a{
    color: #558ED5;
}
#main_panel a{
    color:black;
    text-decoration:none;
}
.side_panel_text {
    color: #595959;
    padding-top:15px;
}
.side_panel_text_testimonials{
    color:#595959;
    text-align:right;
    padding-top:1px;
}
.sidepanel_content_testimonials{
    color:#595959;
    padding-top:1px;
}

.horizontal_line{
    border-bottom: 2px solid lightgrey;
    padding-top:5px;
}