body{
    background-color:lightgrey;
    margin: 0px;
    padding:0px;
    font-family: "lucida grande", sans-serif;
    font-size: 12px;
}
.container{
    width: 960px;
    background-color: #ffffff;
    margin: 0px auto;
}
.header{
    height:70px;
    background-color:#404040;
    font-family:"Lucida Grande",sans-serif;
    box-shadow: 0px 4px 4px  gray;
}
.container-body{
    background-color:white;
    margin-top:40px;
    overflow:hidden;
}
.footer{
    background-color:#f2f2f2;
    overflow:hidden;
    font-family:"Lucida Grande",sans-serif;
    clear:left;
    padding-top:5px;
}
img{
    border:none;
}
.header-image{
    width:200px;
    height:20px;
    padding-left:10px;
    padding-top:15px;
    padding-bottom:0px;
    float:left;
}
.valign{
    vertical-align:middle;
}
.header-middle-content{
    padding-top:47px;
    /*    position:absolute;*/
    font-size: 14px;
}
.header-middle-content a{
    color:white;
    text-decoration: none;
}
.header-middle-content a:hover{
    text-decoration:underline;
}
.header-right-content{
    padding-left:790px;
    padding-top:4px;
    margin-top:-58px;
    font-size:12px;
    font-family:"Lucida Grande",sans-serif;
}
.header-right-content a{
    color:#999;
    text-decoration: none;
}
.header-right-content a:hover{
    text-decoration:underline;
}
#home{
    margin-left:289px;
}
#features,#pricing,#casestudies{
    margin-left:64px;
}
.clients{
    font-size: 12px;
    color:#595959;
    float:left;
    padding-left:10px;
    width:190px;
    padding-right:40px;
}
.clients a{
    color:#595959;
    text-decoration: none;
}
.clients a:hover{
    text-decoration:underline;
}
.lionsher-management{
    border:none;
    height:300px;
    margin:15px;
    padding-left:8px;
    width:912px;
/*    position:relative;*/
    box-shadow: 4px 4px 4px  gray;
}
.tabs-selection{
    height:30px;
    margin-left:430px;
    padding-top:10px;
    width:912px;
}
.lionsher-info{
    height:185px;
    padding-left:15px;
    width:944px;
    font-family:"Lucida Grande",sans-serif;
    margin: 10px 0px 0px 0px;
    padding-top:24px;
}
#lionsher-info1{
    background-color:#17375E;
}
.about-lionsher{
    border: 1px dotted #A6A6A6;
    float:left;
    width:282px;
    margin-left:15px;
    padding-right:25px;
    /*    height:139px;*/
    height: 142px;
    padding:5px;
}
#italic{
    font-style:italic
}
p{
    font-size:12px;
    color:#7F7F7F;
    margin:0px;
}
.p1{
    color: #B9CDE5;
    font-size:12px;
}
.label-font{
    font-size:12px;
    font-weight:bold;
    color:#7F7F7F;
}
#label-font1{
    color: #B9CDE5;
}
#label-font2{
    color:white;
}
#see-all-plans{
    color:white;
    margin-left:140px;
    padding-right:5px;
    font-size:11px;
    font-weight:normal;
}
.label-color{
    font-size:12px;
    color:#558ED5;
    text-decoration:none;
}
.table1{
    width:268px;
    padding-top:8px;
    font-size:12px;
    padding-bottom:25px;
}
.table1 tr, .table1 td{
    color:white;
}
.td-font{
    font-size:10px;
    margin-top:-8px;
}
.lionsher-content{
    margin-left:30px;
    margin-top:20px;
}
.label1{
    font-family:"Lucida Grande",sans-serif;
    font-size:18px;
    color: #666;
    margin-top:20px;
}
.lionsher-options{
    margin-left:28px;
    width:400px;
    margin-top:24px;
    background-color:#404040;
    height:216px;
    float:left;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
/*    behavior: url(border-radius.htc);*/
/*    behaviour: url(ie-css3.htc);*/
}
.label2{
    font-family:"Lucida Grande",sans-serif;
    font-size:14px;
    color:#F2F2F2;
    padding-left:21px;
    margin-top:18px;
}
.free_trial_30{
    font-style:italic;
    color:#f2f2f2;
    font-size:10px;
    margin-top:40px;
    margin-left:-106px;
    position:absolute;
}
#create-test{
    margin-top:18px;
    padding:5px;
    margin-left:21px;
    float:left;
/*    position:relative;    */
}
#create-test a{
    text-decoration:none;
}
.lionsher-white-logo{
    margin-right:28px;
    margin-left:484px;
    margin-top:40px;
}
.lionsher-demo{
    margin-right:28px;
    margin-left:474px;
    margin-top:24px;
}
/*.left-arrow{
    margin-top:130px;
    margin-left:-14px;
    float:left;
    position:absolute;
}*/
.left-arrow1{
    float:left;
    margin-top:150px;
}
.right-arrow1{
    margin-top:-180px;
    margin-left:920px;
    position:absolute;
}
/*.right-arrow{
    margin-top:130px;
    margin-left:898px;
    position:absolute;
}*/
#open_quotation{
/*    margin-left:-25px;
    margin-top:-45px;
    padding-bottom:10px;*/
margin-bottom:-33px;
margin-left:10px;
}
#close_quotation{
    margin-left:300px;
    margin-top:-34px;
    position:absolute;
}
.label-align{
    padding-left:10px;
    color:#595959;
}
em{
    font-family:"Lucida Grande",sans-serif;
    font-style:normal;
}
.button_tag{
    font-style:italic;
    font-size:10px;
    color: #7F7F7F;
    margin-left:790px;
    padding-bottom: 3px;
}
.take-tour{
    text-decoration:underline;
    color:white;
    font-size:12px;
    margin-left:18px;
    margin-top:36px;
    font-family:"Lucida Grande",sans-serif;
    position:absolute;
}
.LMS-header{
    height:50px;
}
.LMS-header .label1{
    padding-left:10px;
    padding-bottom:10px;
    margin-top:5px;
    padding-right:70px;
}
.LMS-body{
    border: 1px solid #A6A6A6;
    height:350px;
    /*    margin-right:50px;*/
    width:910px;
    margin-top:10px;
    float:left;
}
.LMS-footer{
    height:50px;
    margin-top:25px;
    margin-left:240px;
}
.label3{
    font-family:"Lucida Grande",sans-serif;
    font-size:18px;
    color: #666;
}
.navbar{
    background-color:#404040;
    width:212px;
    float:left;
    height:350px;
}
.navbar-content{
    height:350px;
    margin-left:212px;
    position:relative;
    width: 689px;
    padding:20px;
}
.under
{
    position:absolute;
    left:50px;
    top:20px;
    z-index:0;
}
.over
{
    position:absolute;
    left:280px;
    top:120px;
    z-index:8;
}
.over2{
    position:absolute;
    left:280px;
    top:230px;
    z-index:10;
    color: #666;
}
.lms-headings{
    float:left;
    width:336px;
    margin-right:50px;
    padding-left:10px;
}
.lms-headings-content{
    margin-top:50px;
    color: #595959;
    margin-left:370px;
    width:250px;
    margin-right:50px;
}
.lms-heading-size{
    font-size:16px;
    font-weight:bold;
    /*padding-bottom:15px;*/
}
.lms-content-size{
    font-size:13px;
    padding-bottom: 10px;
}
.features-footer{
    padding-top:48px;
    width:899px;
    padding-bottom:40px;
    font-size: 12px;
    overflow:hidden;
}
.feature-footer1{
    color:#595959;
    float:left;
    width: 200px;
    padding-left:14px;
    padding-right:10px;
}
.feature-footer-heading{
    font-size:12px;
    color:black;
}
.feature-footer-content{
    font-size:12px;
    color:#595959;
    padding-top:8px;
}
#features-arrow{
    margin-left:898px;
    margin-top:170px;
    position:absolute;
}
.navbar a{
    text-decoration:none;
    font-size:14px;
    margin-top:5px;
    color:yellow;
}
#take-tour ,#tests, #cost-effective ,#easy-to-use ,#highly-secure, #customizable, #scalable, #anywhere-access{
    height:30px;
    width:192px;
    padding-left:20px;
    margin-top:8px;
    padding-top:5px;
}
a #take-tour,a #tests, a #cost-effective,a #easy-to-use,
a #highly-secure, a #customizable ,a #scalable, a #anywhere-access{
    color:white;
}
a:hover #take-tour,a:hover #tests, a:hover #cost-effective,a:hover #easy-to-use,
a:hover #highly-secure, a:hover #customizable ,a:hover #scalable, a:hover #anywhere-access{
    color:black;
    background-color:white;
}
.features_testimonials_p{
    text-align:right;
    font-size:11px;
    margin-top:8px;
}
.features_testimonials_anchor{
    color:#FFFFFF;
    text-decoration:none;
}
.ie7 .header-middle-content #home{
    margin-left:100px;
}
.ie7 .right-arrow1{
    margin-left:0px;
}
.ie7 .container{
    margin: 0px auto;
}