<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head></head>
  <body>

    Dear Colleague,<br/><br/>

    LAST DAY TO COMPLETE THE PULSE SURVEY<br/><br/>

    Your feedback will help your OD team make the Performance Management processes more effective and useful for you in the future. Hence, we encourage you to take a few minutes out from your day’s schedule to provide us your responses.<br/><br/>

    Your unique link to the survey is <a href="<%=h @url %>"><%=h @url %></a><br/><br/>

    We look forward to your feedback.<br/><br/>

    Regards<br/>
    <b>LionSher</b><br/><br/>

    <b style="text-decoration: underline;">Note:</b><br/>
    <ul>
      <li>Each colleague has been issued a unique link. The aforesaid link is unique to you. Please do not share this link with any other colleague.</li>

      <li>In case your browser’s security settings show this link as an ‘Untrusted’ site, please allow your computer to access the site.</li>

      <li>In case of any problems in accessing the link please email Yatin, your point of contact at LionSher, at <a href="mailto:yatin@kern-comm.com">yatin@kern-comm.com</a></li>
    </ul>
  </body>
</html>

