<html>
<head>
</head>
<body> Hello <%=h @user.login%>,<br/><br/>

Thank you for signing up on Lionsher Tests. You can enjoy a free trial period of 30 days and conduct up to 30 free tests. You can continue to use Lionsher Tests by upgrading to a paid plan any time. Upon expiry of your trial period, your account will be locked. You can reactivate your account by upgrading to a paid plan.<br/><br/>

Contact us anytime. We’d love to help make your assessments a success and hear how Lionsher can better meet your needs.<br/><br/>

To set up a password and activate your account on LionSher, click the link:<br/><br/>

<a href="<%=h @url%>"><%=h @url%></a><br/><br/>

Your Email: <%=h @user.email%><br/><br/>

Regards,<br/>
LionSher Team<br/><br/>
Supports IE 7, Mozilla Firefox 2.0, Safari 5, Google Chrome 11.0 and above versions only.
</body>
</html>