<table id="variables_list_table" cellspacing="0">
  <th style="background-color:#e5e5e5;text-align: left;">
    If you want
  </th>
  <th style="background-color:#e5e5e5;text-align: left;">Use this Variable</th>
  <tr>
    <td>Company name</td>
    <td>[tenant_name]</td>
  </tr>
  <tr>
    <td>Learner Name</td>
    <td>[learner_name]</td>
  </tr>
  <tr>
    <td>Learner Email</td>
    <td>[learner_email]</td>
  </tr>
</table>