<table id="variables_list_table" cellspacing="0">
  <th style="background-color:#e5e5e5;text-align: left;">
    If you want
  </th>
  <th style="background-color:#e5e5e5;text-align: left;">Use this Variable</th>
  <tr>
    <td>Company name</td>
    <td>[tenant_name]</td>
  </tr>
  <tr>
    <td>Learner Name</td>
    <td>[learner_name]</td>
  </tr>
  <tr>
    <td>Learner Email</td>
    <td>[learner_email]</td>
  </tr>
  <tr>
    <td>Test Name</td>
    <td>[assessment_name]</td>
  </tr>
  <tr>
    <td>Test Description</td>
    <td>[assessment_description]</td>
  </tr>
  <tr>
    <td>Test Start Date</td>
    <td>[assessment_start_schedule]</td>
  </tr>
  <tr>
    <td>Test End Date</td>
    <td>[assessment_end_schedule]</td>
  </tr>
  <tr>
  <tr><td>Test Duration</td></tr>
  <tr>
    <td>in Hours</td>
    <td>[assessment_duration_hour]</td>
  </tr>
  <tr>
    <td>in Minutes</td>
    <td>[assessment_duration_min]</td>
  </tr>
</tr>
</table>