<div class="adding_questions_title">
  Add questions from a formmatted file (.xls,.xlsx,.doc)<a href="/app/assets/20_QA.xlsx">Download sample .doc format</a>&nbsp;&nbsp;<a>Download sample excel format</a>
</div>
<div class="browsing">
  <div class="adding_file"><input type="file" name="import[excel]" size="45" /></div>
  <div class="add_questions_manually_button"><a href="/questions/add_manually/<%= @question_bank.id %>"><input type="button" value="Add Questions manually" /></a></div>
</div> <! colse of div browsing -->

<div class="add_btn"> <input type="submit" value="Add" /> </div>
</div> <! close of div container -->