<%= stylesheet_link_tag 'question_bank' %>

<div class="div_container">
  <form action="/question_banks/save_question_bank/1">
    <div class="back_to_qb"> <a href="/question_banks/question_bank_list/<%= current_user.tenant_id %>">Back to question banks</a></div>
    <div class="questionbank_title"> Create New Question Bank </div>
    <div class="topic"> Name of the Question Bank </div>
    <div class="topic_name_char">
      <div class="topic_text"><input type="text" name="qb" value="" size="30" maxlength="100" /> </div>
      <div class="max_chars">30 Max characters </div>
    </div>
    <div class="create_button"><input type="submit" value="Create"/></div>
  </form>
</div> <! close of div container -->