<div class="schedule_type">
  <% if @course.schedule_type == "open" %>
  <input type="radio" class="checkbox_input" name="course[schedule_type]" id="open" value="open" checked />
  <% else %>
  <input type="radio" class="checkbox_input" name="course[schedule_type]" id="open" value="open" />
  <%end%>
  <span>
    <label class="checkbox_label" style="margin-right: 5px;">Open</label>
    Fixed start date & time. Can be closed manually at any time
  </span>
</div>
