<%= stylesheet_link_tag 'lionsherhome' %>
<%= stylesheet_link_tag 'store_course_styles' %>
<%= stylesheet_link_tag 'tests_contact' %>

<div id="container">
  <div id="div_mainpanel">
    <div class="div_preview_content">
      <span class="heading_content">Contact Us to buy a Lionsher Tests pack</span><hr/>
      <form onsubmit="javascript:return validation();" action="/home/save_test_contact_us_details/1" method="post" >
        <ul id="buyer_form_list" type="none">
          <li><label>Name</label><br/>
            <input id="name" type="text" name="subscribe[name]" size="30" /></li>
          <li><label>Email</label><br/>
            <input id="email" type="text" name="subscribe[email]" size="30" /></li>
          <li><label>Phone Number</label><br/>
            <input id="phone_number" type="text" name="subscribe[phone_number]" size="15" /></li>
          <li><label>Number of Users</label><br/>
            <input id="phone_number" type="text" name="number_of_users" size="15" /></li>
          <li><label>Frequencey of Tests</label><br/>
            <input id="phone_number" type="text" name="frequency_of_tests" size="15"/></li>
            <input type="hidden" name="subscribe[type_of_user]" value="tests" />
          <li class="submit_form"> <input class="buyer_submit_form" type="submit" value="Submit Request"/> &nbsp;We will get back to you with a pack that will suit your requirements.</li>
          <li><label id="error_message" style="display: none;">Please enter all your details</label></li>
          <li><label id="email_error_message" style="display: none;">Please enter valid email id</label></li>
        </ul>
      </form>
    </div>
  </div>
</div>