<h1>Uplaod Pulse Survey CSV</h1>

  <form action="/imports/import_users_for_kraft_pulse_survey" method="post" enctype="multipart/form-data" style="margin-bottom: 20px;" >
    <input id="import_emails_browse" name="import[csv]" size="50" type="file" />
    <input id="import_email_csv_button" type="submit" value="Upload"/>
 </form>