<h1>New assessment_package</h1>
<%=h flash[:notice] %>
<form action="/assessment_packages/save_package/1" class="new_assessment_package" id="new_assessment_package" method="post">

  <p>
    <label for="assessment_package_name">Name</label><br />
    <input id="assessment_package_name" name="assessment_package[name]" size="30" type="text" />
  </p>
  <p><label for="assessment_package_user_id">Package ID</label><br />
    <input id="assessment_package_user_id" name="assessment_package[id]" size="30" type="text" />
  </p>
  <p>
    <input id="assessment_package_submit" name="commit" type="submit" value="Create" />
  </p>
</form>