<p id="notice"><%= notice %></p>

<p>
  <b>Difficulty value:</b>
  <%= @difficulty.difficulty_value %>
</p>


<%= link_to 'Edit', edit_difficulty_path(@difficulty) %> |
<%= link_to 'Back', difficulties_path %>
