<%= stylesheet_link_tag 'lionsherhome' %>
<%= stylesheet_link_tag 'benefits' %>

<div id="container">
<div id="upper_panel">
    <div id="inner_tabs">
      <div class="in_tab" id="benefits_individual_trainers"><a href="/benefits_individual_trainer">Individual Trainer</a></div>
      <div class="in_tab" id="benefits_small_businesses"><a href="/benefits_small_business">Small Business</a></div>
      <div class="in_tab" id="benefits_mid_sized_businesses"><a href="/benefits_mid_sized_corporate">Mid-Sized Corporate</a></div>
      <div class="in_tab" id="benefits_educational_institutes"><a href="/benefits_educational_institution">Educational Institution</a></div>
    </div>

  <div id="button_and_tag">
  <a href="/pricing_rupees"><div id="free_trial_button"></div></a>
  <span id="button_tag">Try it to believe it.</span>
  </div>
</div>