<%= stylesheet_link_tag 'lionsherhome' %>
<%= stylesheet_link_tag 'features' %>

<div id="container">
<div id="upper_panel">
    <div id="inner_tabs">
      <div class="in_tab" id="features_cost_effective"><a href="/features_cost_effective">Cost-effective</a></div>
      <div class="in_tab" id="features_easy_to_use"><a href="/features_easy_to_use">Easy to Use</a></div>
      <div class="in_tab" id="features_highly_secure"><a href="/features_highly_secure">Highly Secure</a></div>
      <div class="in_tab" id="features_customizable"><a href="/features_customizable">Customizable</a></div>
      <div class="in_tab" id="features_scalable"><a href="/features_scalable">Scalable</a></div>
      <div class="in_tab" id="features_any_where_access"><a href="/features_any_where_access">Any Where Access</a></div>
    </div>

  <div id="button_and_tag">
  <a href="/pricing_rupees"><div id="free_trial_button"></div></a>
  <span id="button_tag">Try it to believe it.</span>
  </div>
</div>
