<%= stylesheet_link_tag 'lionsherhome' %>
<%= stylesheet_link_tag 'pricing' %>

<div id="container">
<h1><b>FREE 14-day trial on all accounts.</b> No credit card required. Sign up in less than 2 minutes!</h1>

<div id="upper_panel">
</div>