#upper_pannel{
    padding-left:34px;
    /*    background-color:yellow;*/
    height: 465px;
    margin-top:5px;
    font-family: "Lucida Grande", sans-serif;
}
#prices{
    float:left;
    padding-right:2px;
    padding-bottom:2px;
    text-align:right;
}
p{
    color:black;
}
#prices p{
    padding-right:40px;
    margin-left:30px;
}
#prices p, .test_pricing_plans p{
    font-size:12px;
    padding-top:8px;
    padding-bottom:8px;
    border-bottom: 1px dashed lightgray;
}
#prices s, .test_pricing_plans s{
    font-size:10px;
    text-decoration:none;
}
#prices #price{
    margin-top:48px;
    margin-bottom:2px;
}
#prices #price p{
    border-bottom: 1px dashed lightgray;
}
#upper_pannel p{
    margin-bottom:10px;
}
.test_pricing_plans{
    float:left;
}
.test_pricing_plans #tests_one{
    background-color:#A6A6A6;
    color: #FFFFFF;
}
.test_pricing_plans #tests_two{
    background-color:#7F7F7F;
    color: #FFFFFF;
}
.test_pricing_plans #tests_three{
    background-color:#595959;
    color: #FFFFFF;
}
.test_pricing_plans #tests_four{
    background-color:#262626;
    color: #FFFFFF;
}
.test_pricing_plans .price_info{
    width: 150px;
    float: left;
    margin-right: 3px;
    background-color: #F0F0F0;
    text-align: center;
    padding: 0px;
    margin-bottom:18px;
}
.test_pricing_plans .price_info p{
    border-bottom: 1px dashed lightgray;
}
.test_pricing_plans .price_info #free_tests , #prices #free_tests
{
    border-bottom: none;
}
#prices #unique_web_address{
    padding-bottom:10px;
    padding-top:10px;
}
#prices #custom_branding
{
    padding-bottom:10px;
    padding-top:10px;
}
#prices #support,#prices #add_on_pack{
    padding-bottom:8px;
    padding-top:8px;
}
#signup{
    padding-top:15px;
    background-color:white;
}
#contact{
    margin-top:15px;
    margin-left:230px;

}#contact p{
    font-size:14px;
}
#contact a{
    text-decoration:none;
    color: #558ED5;
}
.test_pricing_plans .price_info .font{
    font-size:15px;
}