body
{
    margin: 0px;

}
#container
{
    margin: 0px auto;

}
#header
{
    background-color: #3B7CBE;
    height: 50px;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid;
    width: 100%;
}
#exam_center
{
    float: left;
    padding-left: 10px;
    padding-top: 10px;

}
#main_content
{
    float: left;

}
#header_info
{
    padding-top: 10px;
    padding-left: 15px;
    font-weight: normal;
    font-size: 11px;
    color: white;
    font-family: sans-serif;
    text-align: left;
}

#header_text
{
    color: white;
    font-family: sans-serif;
    font-size: 17px;
    padding-left: 15px;
    font-weight: normal;
}
#footer
{
    background-color: #607a8b;
    height: 45px;
    overflow: hidden;
    clear: both;
    margin-top: 20px;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid;
    width: 100%;
}
