.ie7 li.done input{background-color: red; margin-left: -38px ;}
.ie7 li.done em{ margin-right: 0px;}
.ie7 label.cancel {margin-left: 0px;}
.ie7 #done_adding_quest {margin: 0px 0px 0px 10px}
.ie7 li.done {margin: -10px 0px 0px 10px;}
.ie7 label.cancel { margin: -20px 50px 0px 0px;}
.ie7 label.correct { margin-left: 212px;}
.ie7 em.add_next { margin-left: 35px; }
label.cancel {float: right; margin-right: 20px; }
li{list-style-type:none; padding:8px 0; width:100% !important;  }
input.correct{margin-left: 13px; margin-top: 7px;}
label.correct {margin-left: 205px; font-size: 12px; font-weight: 300;}
em.add_next {margin-left: 0px;}
li.quest_text {margin-top: -10px;}
li.done {margin: 15px 0px 0px 0px; }
li.done em{ margin-right: 0px;}
li.upload_quest{ text-align: right; margin-right: 150px;}
li.upload_quest a, label.cancel, a.cancel, a.upload, .add_img_to_quest a{color: blue;  font-style: normal;}
li.upload_quest em { margin-right: 15px; text-decoration: none;}
.assessment_name {font-size: 16px;}
#done_adding_quest{-moz-border-radius: 0px 0px 0px 0px; background-color: #ffffff;border: 1px solid #ffffff;color: blue;cursor: pointer;font-size: 12px;padding: 0px 0px;}
.add_questions_list{ margin-top: 15px;}
#div_mainpanel span input{  background-color:transparent;  border:medium none;  /*    float:left;*/  font-size:11px;  font-style:italic;  margin:0;  padding:0;  width:29px;}
/*add more questions to assessments styling starts here  */
.ie7 ul{margin-left: 10px;}
.ie7 .add_more_cancel a{margin-top: -40px;}
.ie7 .submit {margin-top: -10px;}
ul{ margin-left: -30px; font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;}
li{padding: 5px 5px 5px 5px;}
li label { margin-top: 0px;}
.add_more_cancel {float:right; margin-right: 20px;}
.add_more_cancel a { color: blue;}
.name { width: 150px; text-align: left;}
.number_of_quest {width: 140px;  }
.number_of_quest_data {text-align: left; padding-left: 60px;}
.created_on { width: 100px; text-align: center; }
.prev {width: 50px; text-align: center; }
.radio_btn {text-align: center; background-color: #ffffff;}
.prev_data, .prev_data a {color: blue; text-decoration: underline; text-align: center;}
.submit, .submit_add_more_topics {padding: 5px 5px 10px 5px;}
.submit a {float: right; margin-right: 10px; color: blue;}
#info{ font-style: italic; font-size: 11px; margin-left: 10px;}
#topic_name, #form_question_bank_import  { margin-left: 30px;}
#topic_name {margin-top: -10px;}
#label_question_bank, #label_add_question {font-size: 1.2em; color:#544E4F; font-weight: 500;}
#add_question_bank_name {    padding: 5px 5px 5px 5px;    margin-top: -20px;}
#link_done_adding{    margin-left: 10px;    margin-top: 5px; }
#link_done_adding a{    color: blue;}
#tr{font-size: 11px; height: 10px; background-color: #e5e5e5;}
#tr_alt{ font-size: 11px;    height: 10px;}
#uploaded_questions em{text-align: center; font-style: inherit;  margin-left: 7px; color: #342826;}
hr { border-color: #CCCCCC;    border-style: dotted;    border-width: 0 0 1px;    clear: left;    margin: 0 10px 10px 5px;    padding-top: 15px;}
table th {font-weight: normal;}
table td {text-align: center;}
textarea {width: 530px;	height: 80px;	padding: 5px;  font-size: 14px;	font-family: "Lucida Grande", sans-serif;}
#add_more_question_option_div {margin: 10px 0px 0px -29px;}
#question_bank_name_add_quest {margin: -15px 0px 0px 0px;}
#previous_assessments_for_single, #previous_assessments_for_multiple {margin-left: 25px;}
#question_bank_submit a, #hidden_submit , #question_bank_submit
{  background-color: gray; border: 1px solid gray; color: #FFFFFF;
   -moz-border-radius-topleft : 5px;
   -moz-border-radius-topright : 5px;
   -moz-border-radius-bottomleft : 5px;
   -moz-border-radius-bottomright : 5px;
   -webkit-border-top-left-radius: 5px;
   -webkit-border-top-right-radius: 5px;
   -webkit-border-bottom-left-radius: 5px;
   -webkit-border-bottom-right-radius: 5px;
   cursor: pointer;
   text-align: center;   margin: 0px 0px 10px 0px;   padding: 2px 12px 2px 12px;
}
#Done {
  background-color: gray;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 3px 8px;
  clear: right;
  -moz-border-radius-topleft : 5px;
  -moz-border-radius-topright : 5px;
  -moz-border-radius-bottomleft : 5px;
  -moz-border-radius-bottomright : 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}