#div_mainpanel #edit_assmnt_form select
{
    background-color:white;
    border:1px solid #E6E6E6;
    color:#666666;
    font-size:11px;
    float: left;
}
#div_mainpanel #edit_assmnt_form .left_corner_select
{
    margin-left: 40px;
}
#div_mainpanel #edit_assmnt_form .schedule_type
{
    overflow: hidden;
}
#div_mainpanel #edit_assmnt_form .mid_select
{
    /*margin: 0px 5px 0px 5px;*/
    margin-left: 5px;
    margin-right: 5px;
}
#div_mainpanel #edit_assmnt_form #am_pm
{
    clear: none;
}
#div_mainpanel #edit_assmnt_form .start_date_time
{
    /*background-color: red;*/
    margin-left: 40px;
    margin-bottom: 4px;
    margin-top: 3px;
}
#div_mainpanel #edit_assmnt_form .start_date_time s
{
    text-decoration: none;
    margin-left: 123px;
}
#div_mainpanel #edit_assmnt_form .shedule_details
{
    /*background-color: red;*/
    overflow: hidden;
    margin-bottom: 15px;
}
#div_mainpanel #edit_assmnt_form h3
{
    font-weight: bold;
    color: #333333;
    font-size: 13px;
}
#div_container #div_mainpanel #edit_assmnt_form #submit_btn  #assessment_submit, .snd_instrns{
    background-color: gray;
    padding: 2px 4px 2px 4px;
    color: #ffffff;
    cursor: pointer;
    border: gray;
    -moz-border-radius-topleft : 5px;
    -moz-border-radius-topright : 5px;
    -moz-border-radius-bottomleft : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.pre_test_infrmation{
     margin-left: 15px;
     font-weight: bold;
 }
 .optional{
     font-size: 11px;
     font-style: italic;
}

.label_option_information {
    margin-left: 120px;
    font-size: 11px;
}
.label_type_of_information, .pre_test_example{
    margin-left: 14px;
}
.form_demographic p{ margin-left: 15px;}
#demographic_demographic_option_1,
#demographic_demographic_option_2,
#demographic_demographic_option_3,
#demographic_demographic_option_4,
#demographic_demographic_option_5,
#demographic_demographic_option_6,
#demographic_demographic_option_7,
#demographic_demographic_option_8,
#demographic_demographic_option_9,
#demographic_demographic_option_10,
#demographic_demographic_option_11,
#demographic_demographic_option_12,
#demographic_demographic_option_13,
#demographic_demographic_option_14,
#demographic_demographic_option_15{
    width: 413px;
    margin-left: 22px;
}
#demographic_demographic_type_1,
#demographic_demographic_type_2,
#demographic_demographic_type_3,
#demographic_demographic_type_4,
#demographic_demographic_type_5,
#demographic_demographic_type_6,
#demographic_demographic_type_7,
#demographic_demographic_type_8,
#demographic_demographic_type_9,
#demographic_demographic_type_10,
#demographic_demographic_type_11,
#demographic_demographic_type_12,
#demographic_demographic_type_13,
#demographic_demographic_type_14,
#demographic_demographic_type_15{
    width: 195px;
}
.demographic_done{
    margin-top: 25px;
    margin-bottom: 5px;
    padding-top: 10px;
    border-top: 1px dotted #ccc;
    margin-right: 15px;
}
.skip_instrns{
    float:right;
}
.clearfix{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}