body, select, input {
    color: gray;
}

#div_mainpanel #assessment_learner_pass label{
    float: left;
    display: block;
    clear: left;
    font-size: 13px;
    margin-bottom: 2px;
    margin-left: 16px;
    margin-right: 10px;
    color: gray;
}
#div_mainpanel #assessment_learner_pass input,select
{
    font-family: helvetica;
    float: left;
    display: block;
    clear: left;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 16px;
    border:#ccc 1px solid;
    padding: 2px 2px 2px 3px;
}
#div_mainpanel #assessment_learner_pass .set_margin_left
{
    margin-left: 40px;
}
#div_mainpanel #assessment_learner_pass .set_margin_left
{
    /*float: left;*/
    clear: left;
}
#div_mainpanel #assessment_learner_pass .radio_male
{
    /*background-color: red;*/
    float: left;
    clear: none;
    border: none;
    width: 18px;
    border: none;
}
#div_mainpanel #assessment_learner_pass #radios label #learnr_instructions
{
    clear: none;
}

#radios .rad_male{
    float: none;
    clear: left;
}
#radios .rad_female{
    float: left;
}
#div_container hr{
    margin-bottom: 15px;
    margin-top: 15px;
}
#radios .rad_male, .rad_female input{
    border: none;
}
#assessment_learner_pass ul.radio_select {
    list-style-type:none;
/*    background-color: red;*/
}

#assessment_learner_pass ul.radio_select li {
    display: inline;
    margin-left: 10px;
}
ul.nav, ul.age_select {
	clear:left;
        clear: both;
	margin:0;
	padding:0;
	list-style:none;
	margin:10px 5px 0px 0px; }

ul.nav li, ul.age_select li {
	float:left;
	position:relative;
	width:auto;
	margin:5px 0px 5px 2px;
	background:transparent; }


#learnr_instructions{

    clear: left;
    /*clear: both;*/
/*    margin-top: 50px;*/
    /*margin-left: 20px;*/
}
#learnr_instructions ul
{
    padding-left: 30px;

}
#learnr_instructions h5
{
    padding-top: 10px;
}
#div_mainpanel #assessment_learner_pass  #learnr_instructions label
{
    margin-left: 15px;
    font-style: italic;
}
h5{
    margin: 0px 10px 10px 15px;
    padding: 0px;
    /*background-color: yellow;*/
    color: black;
    font-size: 18px;
    font-weight: normal;
}
#age
{
    width: 50px;
}
#name_pwd_learner
{
    width: 260px;
}
#qualification
{
    width: 270px;
}
#em
{
    float: left;
    display: block;
    clear: left;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 16px;
    border:#ccc 1px solid;
    padding: 2px 2px 2px 3px;
}
#age_div
{
/*    background-color: red;*/
    position: relative;
  
}
#age_div em
{

    position: relative;
    left: 75px;
    font-style: normal;
}
ul {
   list-style-type:none;
}
#div_age ul li {
    display: inline;
    margin-left: 10px;
}

