/* 
    Document   : cat_test_welcome
    Created on : 6 Aug, 2012, 12:50:19 PM
    Author     : pranitha
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
body{
   background-color: #317D8C;
}
#div_container{
    width: 100%;
}
#start_page{
   background-color: white;
   width: 650px;
   height: 420px;
   margin :0 auto;
   margin-top: 60px;
}
#CAT_heading{
    text-align:center;
    font-size: 24px;
    font-family: "Arial Narrow";
    padding-top: 100px;
/*    font-weight: 400;*/
}
#sign_in{
    background: url("cat_test_pattern/next.png") repeat-x scroll 0 0 transparent;
    color: transparent;
    border: none;
    margin-top: 125px;
    height: 36px;
    width: 132px;
    font-size: 0px;
    cursor: pointer;
}
.next_button{
    background: url("cat_test_pattern/next.png") repeat-x scroll 0 0 transparent;
    color: transparent;
    border: none;
    margin-top: 125px;
    height: 36px;
    width: 132px;
    font-size: 0px;
    cursor: pointer;
}