/* 
    Document   : cat_header_footer
    Created on : 31 Jul, 2012, 12:53:30 PM
    Author     : pranitha
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
div#cat_header{
    position: fixed;
/*    position: relative !important;*/
    top:0;
    left:0;
    width:100%;
    height:60px;
    background-color: #317D8C;
}
@media screen{
    body>div#cat_header{
        position:fixed;
    }
    body>div#cat_footer{
        position:fixed;
    }
}
div#cat_footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    height:50px;
    background-color: #317D8C;
}
.header_content{
    color:white;
    font-size:14px;
    float:left;
    padding-top:10px;
    width:400px;
    font-family: "Verdana", sans-serif;
}
#cat_header table{
    margin-top: 10px;
    width: 100%;
}
#cat_header table td{
    color: white;
}
.next_button{
    background: url("cat_test_pattern/next.png") repeat-x scroll 0 0 transparent;
    color: transparent;
    border: none;
    height: 36px;
    width: 132px;
    font-size: 0px;
    cursor: pointer;
}
.previous_button
{
    background: url("cat_test_pattern/previous.png") repeat-x scroll 0 0 transparent;
    color: transparent;
    border: none;
    margin-left:20px;
    height: 36px;
    width: 132px;
    font-size: 0px;
    cursor: pointer;
}
#marked{
    border:none;
}
#unmarked{
    border:none;
}
#review_button{
    border:none;
}
#cat_footer table{
    width: 100%;
    margin-top: 10px;
}
.timer_position{
    margin-left: 900px;
    position: fixed;
    z-index: 1;
    color:white;
}