body
{
    width: 900px;
    margin: 0px auto;
    font-family: arial;
    /*font-family: sans-serif;*/
}
#container
{
    width: 900px;
    margin: 0px auto;
    overflow:hidden;
}
#header
{
    width: 750px;
}