select
{
    background-color:white;
    border:1px solid #E6E6E6;
    color:#666666;
    font-size:11px;
}
.schedule_details
{
    clear: left;
    font-size: 12px;
    margin-bottom: 15px;
    margin-left: 2px;
    color: gray;
}
.ie7 .schedule_details {
  margin-left: 15px;
}
.clearfix{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}
.package_description {
   margin-left: 15px;
}
.ie7 .package_description {
  margin-left: 0px;
}

.clearfix{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}