#div_container
{
    width: 960px;
    margin: 0px auto;
    background-color: white;
    overflow:hidden;
    
}

#div_mainpanel
{
    background-color: white;
    width:720px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border-right:  1px dotted #bdbdbd;
    position: relative;
}
#div_sidepanel
{
    width: 238px;
    /*margin: 0px 0px 0px 722px;*/
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    overflow: hidden;
    position: relative;
}

#logo
{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    background-color: white;
}
#div_mainpanel .inner_mainpanel
{
    /*background-color: red;*/
    margin: 0px 0px 0px 5px;
}
#div_mainpanel #reports_heading
{
    /*background-color: red;*/
}
#div_mainpanel #reports_heading h1
{
    /*background-color: yellow;*/
    padding: 0px;
    width: 200px;
    font-weight:normal;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
}
#div_mainpanel #reports_heading h1 span
{
    /*background-color: red;*/
    font-style: normal;
    position: absolute;
    top: 3px;
    left: 100px;
}
#div_mainpanel #reports_heading h1 span a:hover
{
    text-decoration: underline;
}
#div_mainpanel #course_report_form
{
    /*background-color: red;*/
    
}
#div_mainpanel #course_report_form #quarter_ddl
{
    /*background-color: yellow;*/
/*    position: absolute;*/
    top: 40px;
    left: 190px;
    width: 140px;
    background-color: white;
    border: 1px #e6e6e6 solid;
    color: #666666;
    font-size: 11px;
}
#div_mainpanel #course_report_form #all_courses_learners_ddl
{
    /*background-color: yellow;*/
/*    position: absolute;*/
    top: 40px;
    left: 15px;
    margin: 0px 0px 0px 10px;
    background-color: white;
    border: 1px #e6e6e6 solid;
    color: #666666;
    font-size: 11px;
}
#div_mainpanel #course_report_form #go_button
{
    width: 30px;
    height: 18px;
    background-color: gray;
    color: white;
    font-size: 12px;
    border: none;
/*    position: absolute;*/
    top: 40px;
    left: 425px;
    padding: 1px 2px 2px 2px;
    -moz-border-radius-topleft : 3px;
    -moz-border-radius-topright : 3px;
    -moz-border-radius-bottomleft : 3px;
    -moz-border-radius-bottomright : 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}
#div_mainpanel #course_report_form #display_time
{       
/*    position: absolute;*/
    font-size: 10px;
    top: 46px;
    left: 335px;
    color: gray;
    font-style: italic;
}
#div_mainpanel #course_report_form h3
{
    margin: 0px 0px 0px 10px;
    width: 100px;
    font-weight: normal;
}
#div_mainpanel #course_report_form .div_table
{
    margin-top: 10px;
}
#div_mainpanel #course_report_form table .td_name
{
    /*background-color: red;*/
    width: 350px;
    font-size: 12px;
}
#div_mainpanel #course_report_form table #learners, #learner_count
{
    /*background-color: red;*/
}
#div_mainpanel .empty_reports
{
    background-color: #ffff99;
    color: #333333;
    margin: 50px 10px;
    padding: 10px;
    text-align: center;
}
#div_upper_left .reports_head_bold
{
    font-weight: bold;
}