#div_mainpanel h3
{
/*	background-color: red;*/
        margin: 5px 5px 5px 20px ;
        font-size: 12px;
}
#div_mainpanel #imported_questions
{
/*    background-color: yellow;*/
    margin: 15px 5px 5px 20px ;
    color: #404040;
    font-size: 14px;
    line-height: 1.3;
}
#div_mainpanel #imported_questions .questions
{
/*    background-color: firebrick;*/
    margin: 5px 5px 15px 5px ;
    float: none;
}
#div_mainpanel #imported_questions .questions a
{
    color: blue;
}
#div_mainpanel #imported_questions .answers
{
/*    background-color: blue;*/
    margin: 5px 0px 0px 25px;
}
#div_mainpanel #import_done a
{
    background-color: gray;
    color: #ffffff;
    -moz-border-radius-topleft : 5px;
    -moz-border-radius-topright : 5px;
    -moz-border-radius-bottomleft : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    text-align: center;
    padding: 5px 20px 5px 20px;
}
.ie7 #div_mainpanel #import_done a {
   padding: 5px 20px 15px 20px;
}

#import_done {
/*  background-color: red;*/
  height: 20px;
  width: 100px;
  padding: 10px 0px 0px 0px;
  margin: 5px 0px 5px 30px;
}
