#learner_myaccount_form
{
    /*background-color: red;*/
    font-size: 12px;
}
#learner_myaccount_form h1
{
    margin: 0px 0px 15px 15px;
    padding: 0px;
     color: #333333;
    font-weight: bold;
    font-size: 16px;
}
#learner_myaccount_form h3
{
    /*background-color: green;*/
    margin: 0px 0px 5px 15px;
    padding: 0px;
    color: #333333;
    font-weight: bold;
    font-size: 13px;
}
#learner_myaccount_form #personal_details
{
    background-color: #f5f5f5;
    overflow: hidden;
    margin: 0px 300px 15px 15px;
    padding: 6px 10px 0px 0px;
    -moz-border-radius-topleft : 5px;
    -moz-border-radius-topright : 5px;
    -moz-border-radius-bottomleft : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#learner_myaccount_form #personal_details label
{
    /*background-color: fuchsia;*/
    margin-left: 10px;
    margin-bottom: 5px;
    float: left;
}
#learner_myaccount_form #personal_details input
{
    clear: none;
}
#learner_myaccount_form #personal_details #password_label_display
{
    display:none;
}
#learner_myaccount_form #personal_details #password_input
{
    display: none;
    /*float: left;*/
    clear: left;
    border: none;
    margin-left: 10px;
}
#learner_myaccount_form #personal_details span
{
    /*background-color: blue;*/
    font-style: normal;
    font-size: 12px;
    color: #333333;
    margin: 0px 0px 0px 20px;
}
#learner_myaccount_form #personal_details #astriks
{
    margin-left: 0px;
    font-size: 15px;
    margin-right: 10px;
}
#learner_myaccount_form #personal_details #change_password_link
{
    clear: right;
    border: none;
    background-color: transparent;
    color: blue;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    font-size: 11px;
}
#learner_myaccount_form #official_details #designation_label
{
    margin-top: 7px;
}
#learner_myaccount_form #phone_details label
{
    float: left;
    margin-top: 8px;
}
#learner_myaccount_form #phone_details input
{
    margin-left: 5px;
    margin-top: 5px;
    clear: none;
    width: 100px;
}
#learner_myaccount_form #phone_details #off_num
{
    margin-left: 8px;
}
#learner_myaccount_form #personal_details .checkbox_input
{
    margin: 0px 0px 0px 10px;
    clear: left;
}
#learner_myaccount_form .checkbox_label
{
    font-size: 10px;
}
#div_upper_left .myaccount_head_bold
{
    font-weight: bold;
}
#div_upper_left .home_head_bold
{
    font-weight: normal;
}
