.dark_red, #error_msg { color: red;}
#licenses_info {
    width: 120px;
    margin-left: 10px;
    color: gray;
    font-style: normal;
}
#lms_licenses_info {
    width: 180px;
    margin-left: 10px;
    color: gray;
    font-style: normal;
}
.lms_licenses_used {
     float: left;
    margin: -10px 0px 0px 0px;
    text-align: center;
    font-size: 11px;
    width: 50px;
}
.lms_licenses_added {
     float: left;
    margin: -10px 0px 0px 12px;
    text-align: center;
    font-size: 11px;
    width: 50px;
}
.lms_licenses_total {
    float: right;
    margin: -10px 0px 0px 0px;
    font-size: 11px;
    text-align: center;
    width: 50px;
}
#licenses_info h4, #lms_licenses_info h4 {
    font-weight: normal;
    font-size: 11px;
}
.licenses_used {
    float: left;
    margin: -10px 0px 0px 0px;
    text-align: center;
    font-size: 11px;
    width: 50px;
}
.licenses_total {
    float: right;
    margin: -10px 0px 0px 0px;
    font-size: 11px;
    text-align: center;
    width: 50px;
}
.licenses_used em, .licenses_total em, .lms_licenses_used em,.lms_licenses_total em,.lms_licenses_added em {
    font-size: 20px;
    font-style: normal;
}
#learner_container
{
    width: 960px;
    margin: 0px auto;
    background-color: white;
    /*position: relative;*/
    overflow:hidden;
}
#learner_mainpanel
{
    background-color: white;
    width:720px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*padding-left: 5px;*/
    border-right: #cccccc 1px dotted;
    float: left;
    overflow: hidden;

}
#learner_sidepanel
{
    width: 238px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    overflow: hidden;
    position: relative;
}

#learner_container label
{
    font-size: 12px;
    color: gray;
    margin: 20px 0px 0px 10px;
}
#learner_mainpanel table tr .header
{
    /*background-color: red;*/
    margin: 10px 0px 0px 33px;
    font-weight: normal;
    font-size: 12px;
    color: gray;
}
#learner_mainpanel #learner_email
{
    /*background-color: red;*/
    margin: 10px 0px 0px 33px;
    font-weight: normal;
    font-size: 12px;
    color: gray;
}
#learner_mainpanel #learner_email p
{
    /*background-color: yellow;*/
    margin: 0px 145px 0px 0px;
    padding: 0px;
    float: left;
}
#learner_mainpanel #learner_email s
{
    text-decoration: none;
    /*background-color: fuchsia;*/

}

#learner_side_heading
{
    background-color: gray;
    color: white;
    font-size: 9px;

}
#assign_learners
{
    margin: 0px 20px 20px 25px;
    font-size: 12px;
    padding: 2px 2px 2px 3px;
    background-color: gray;
    color: white;
    border: 1px solid gray;
    cursor: pointer;
    float: left;
/*    -moz-border-radius-topleft : 5px;
    -moz-border-radius-topright : 5px;
    -moz-border-radius-bottomleft : 5px;
    -moz-border-radius-bottomright : 5px;*/
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
}
#assign_learners_more
{
    margin: 0px 0px 0px 385px;
    border:white 1px solid;
    font-size: 10px;
    padding: 2px 2px 2px 3px;
    background-color: white;
    color: blue;
    cursor: pointer;
}
#assign_learners_new
{
    margin: 8px 0px 2px 15px;
    border:white 1px solid;
    font-size: 10px;
    /*padding: 2px 2px 2px 3px;*/
    background-color: white;
    color: blue;
    cursor: pointer;
}
table #user_login
{
    border:#ccc 1px solid;
    padding: 2px 2px 2px 3px;
    width: 200px;
}
table #user_email
{
    width: 230px;
    border:#ccc 1px solid;
    padding: 2px 2px 2px 3px;
}
table #group_name
{
    /*width: 230px;*/
    border:#ccc 1px solid;
    padding: 2px 2px 2px 3px;
}
#learner_mainpanel hr
{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: #ccc 1px dotted;
    clear: left;
    padding-top: 5px;
    margin: 0px 10px 10px 10px;
}
#learner_sidepanel hr
{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: #ccc 1px dotted;
    clear: left;
    padding-top: 5px;
    margin: 0px 3px 0px 3px;
}
#learner_mainpanel h1
{
    font-weight:normal;
    font-size: 20px;
    /*border-bottom:#ccc 1px solid;*/
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 7px;
}
#learner_mainpanel h1 s
{
    text-decoration: none;
    /*font-weight:normal;*/
    /*font-size: 14px;*/
    /*margin-left: 5px;*/
    color: #666633
}
#learner_mainpanel h3
{
    font-weight:normal;
    font-size: 14px;
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 10px;
    color: #666633
}
#learner_mainpanel h4
{
    /*background-color: purple;*/
    font-size: 13px;
    font-weight:normal;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 8px;
    color: gray;
}
#learner_mainpanel #learners_big_box
{
    overflow: hidden;
    /*background-color: red;*/
    margin-bottom: 10px;
}
#learner_mainpanel #learners_big_box em
{
    font-size: 11px;
    color: #aaaaaa;
}
#learner_mainpanel .learners_box_left
{
    margin : 0px 10px 8px 0px;
    width: 340px;
    overflow: hidden;
    float: left;
    /*background-color: yellow;*/
}
#learner_mainpanel .learners_box_left table
{

}
#learner_mainpanel .learners_box_right
{
    width: 340px;
    overflow: hidden;
    /*background-color: purple;*/
}
#learner_mainpanel .list
{
    font-size: 13px;
    color: gray;
    /*height:50px;*/
    width:300px;
    margin : 0px 10px 0px 0px;
    /*float: left;*/
}
#learner_mainpanel tr em
{
    margin: 0px 0px 0px 2px;
    font-size: 11px;
    color: #aaaaaa;
}
#learner_mainpanel tr .learners_list
{
    background-color: yellow;
    width: 300px;
}
#learner_mainpanel .list table
{
    /*background-color: red;*/
    width: 276px;
    height: 50px;
    font-family: helvetica;
    margin: 2px 5px 2px 5px;
}
#learner_mainpanel .list table th
{
    font-size: 12px;
    font-weight: normal;
    color: #666666;
    height: 0px;
    width: auto;
    text-align: center;
    /*background-color: fuchsia;*/
}
#learner_mainpanel .list table #tr
{
    font-size: 11px;
    height: 20px;
    width: 50px;
    background-color: #e5e5e5;
    /*background-color: green;*/
}
#learner_mainpanel .list table #tr_alt
{
    /*background-color:  fuchsia;*/
    font-size: 11px;
}
#learner_mainpanel .list table .td_number
{
    width: 10px;
    text-align: right;
}
#learner_mainpanel .list table .name
{
    text-align: center;
    padding: 0px 10px;
}
#learner_mainpanel .list table .td_checkbox
{
    text-align: left;
    /*text-transform: capitalize;*/
    width: 20px;
} 
#learner_mainpanel .list table .td_name
{
    text-align: left;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
    /*text-transform: capitalize;*/
}
#learner_mainpanel .list table .td_name a
{
    /*margin: 0px 10px;*/
}
#learner_mainpanel .list table .checkbox
{
    /*background-color: red;*/

}
#myDiv
{
    /*margin-top: 10px;*/
}
#learner_mainpanel #cancel
{
    /*background-color: red;*/
    /*margin:6px 0px 0px 0px;*/
    margin-top: 5px;
    color: gray;
    width: 75px;
    float: left;
}
#learner_mainpanel #cancel s
{
    /*background-color: fuchsia;*/
    text-decoration: none;
    /*margin: 0px 0px 0px 0px;*/
    float: left;

}
#learner_mainpanel #cancel a
{
    /*background-color: yellow;*/
    width: 50px;
    float: right;
    margin: 0px;
    color: blue;
}
#learner_mainpanel #cancel a:hover
{
    text-decoration: underline;
}
#learner_mainpanel  #assign_later
{
    /*background-color: red;*/
    /*margin:6px 0px 0px 0px;*/
    margin-top: 5px;
    color: gray;
    width: 100px;
    float: left;
}
#learner_mainpanel #assign_later s
{
    /*background-color: fuchsia;*/
    text-decoration: none;
    /*margin: 0px 0px 0px 0px;*/
    float: left;

}
#learner_mainpanel #assign_later a
{
    /*background-color: yellow;*/
    width: 73px;
    float: right;
    margin: 0px;
    color: blue;
}
#learner_mainpanel #assign_later a:hover
{
    text-decoration: underline;
}
#learner_mainpanel .flash_message
{
    color: green;
    margin: 0px 0px 3px 15px;
}
#head #div_upper_left .home_head_bold
{
    font-weight: bold;
}
#import_emails_browse
{
    border: 1px solid #CCCCCC;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 20px;
    padding: 2px 2px 2px 3px;
}
#import_email_csv_button
{
    background-color: gray;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #CCCCCC;
    margin: 0px 0px 10px 20px;
    padding: 2px 2px 2px 3px;
    -moz-border-radius-topleft : 5px;
    -moz-border-radius-topright : 5px;
    -moz-border-radius-bottomleft : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#learner_mainpanel h5
{
    font-size: 20px;
    font-weight: normal;
    color: gray;
    margin: 10px 0px 10px 30px;
}
#learner_mainpanel #csv_upload_button
{
    margin: 0px 0px 0px 20px;
    background-color: gray;
    color:white;
    border: 1px gray solid;
    -moz-border-radius-topleft : 5px;
    -moz-border-radius-topright : 5px;
    -moz-border-radius-bottomleft : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#select_all,#select_none
{
    border:white 1px solid;
    font-size: 10px;
    /*margin-left: 10px;*/
    padding: 0px 2px 0px 0px;
    background-color: white;
    color: blue;
    cursor: pointer;
}
#select_none
{
    margin-left: 0px;
}
.all_groups
{
    color: gray;
    margin-left: 20px;
}
.learner_name_email
{
    background-color: red;
    color: gray;
    margin-bottom: 2px;
}
#learners_big_box a
{
    color: blue;
    font-size: 10px;
}
#coupon_code_for_learners{
    background-color:#F0F0F0;
    margin:10px 20px 6px 3px;
    padding:8px;
    width:176px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}