#container
{
    width: 960px;
    
    margin: 0px auto;
    margin-top: -10px;
    background-color: white;
    overflow:hidden;
    color: #333333;
    /*background-color: fuchsia;*/
}
#container #upper_panel
{
    /*background-color:  aqua;*/
    margin: 0px 15px 0px 20px;
    overflow: hidden;
}
#container #upper_panel #inner_tabs
{
   /*background-color: fuchsia;*/
   text-align: right;
   position: relative;
}
#container #upper_panel #inner_tabs .in_tab
{
    /*background-color: green;*/
    float: left;
    text-align: center;
    margin: 5px 20px 0px 0px;
    /*padding: 3px 5px 3px 5px;*/
    font-size: 14px;
}
#container #upper_panel #inner_tabs a
{
    text-decoration: none;
    height: 28px;
    color: #424142;
    padding: 0px 5px 0px 5px;
    /*background-color: yellow;*/
}
#container #upper_panel #inner_tabs .in_tab:hover
{
    background-color:#c64931;
    
}
#container #upper_panel #inner_tabs a:hover
{
    color: #ffffff;
}
#container #upper_panel #button_and_tag
{
    margin-left: 746px;
}
#container #upper_panel #button_and_tag #button_tag
{
    /*background-color: blue;*/
    margin-left: 52px;
    font-style: italic;
}
#container #upper_panel #button_and_tag a #free_trial_button
{
    width: 180px;
    height: 37px;
    cursor: pointer;
    border: none;
    background: url("lionsherhome_images/trial_14_day.jpg") repeat-x scroll 0 0 transparent;
}
#container #upper_panel #button_and_tag a #free_trial_button:hover
{
    border: none;
    background: url("lionsherhome_images/trial_14_day_hover.png") repeat-x scroll 0 0 transparent;
}
#container #upper_panel #button_and_tag a:focus
{
    outline: none;
}
#container #lower_panel
{
    overflow: hidden;
    /*background-color: fuchsia;*/
    margin: 0px 0px 30px 20px;
}
#container #lower_panel #lower_content .static_content h1,h2,h3,h4
{
    margin: 0px;
    padding: 0px;
    width: 280px;
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 10px;
}
#container #lower_panel #lower_content .static_content h1
{
    color: #8c9e21;
    /*background-color:  orange;*/
}
#container #lower_panel #lower_content .static_content h2
{
    color: #ce6100;
}
#container #lower_panel #lower_content .static_content h3
{
    color: #dd4129;;
}
#container #lower_panel #lower_content .static_content h4
{
    color: #18617b;
    /*color: #319685;*/
}
#container #lower_panel #lower_content
{
    
}
#container #lower_panel #lower_content .static_content
{
    /*background-color: gray;*/
    width: 280px;
    float: left;
    margin: 0px 20px 0px 0px;
    
}
#container #lower_panel #lower_content .static_content p
{
    margin-top: 15px;
    font-size: 13px;
}
#container #lower_panel #lower_content .static_content #no_hardware_costs
{
    width: 400px;
    background-color: red;
}
#container #upper_panel
{
    /*background: url("../images/shadow_line1.png") repeat-x scroll 0 0 transparent;*/
}
#mid_panel
{
    text-align: center;
    margin-top: 10px;
    margin-left: 18px;
    margin-right: 16px;
    padding: 10px 2px 2px 2px;
    background: url("lionsherhome_images/background_no_tabs.jpg") repeat-x scroll 0 0 transparent;
    position: relative;
}
#mid_panel #mid_side_panel
{
    
}
#mid_panel img
{
    /*background-color: yellow;*/
}
#container .shadow_line
{
    width: 960px;
    background: url("shadow_line.png") repeat-x scroll 0 0 transparent;
    margin-bottom: 5px;
}
#mid_panel .next_button
{
    position: absolute;
    top: 110px;
    left: 905px;
}
#mid_panel .prev_button
{
    position: absolute;
    top: 110px;
    left: -10px;
}
#mid_panel .next_button a, .prev_button a
{
    color: #ffffff;
    /*border: none;*/
}
#mid_panel .next_button a img, .prev_button a img
{
    color: #ffffff;
    border: none;
}
@font-face{font-family: 'WebRupee';src: url('http://cdn.webrupee.com/WebRupee.V2.0.eot');src: local('WebRupee'), url('http://cdn.webrupee.com/WebRupee.V2.0.ttf') format('truetype'),  url('http://cdn.webrupee.com/WebRupee.V2.0.woff') format('woff'), url('http://cdn.webrupee.com/WebRupee.V2.0.svg') format('svg');font-weight: normal;font-style: normal;}
.WebRupee{font-family: 'WebRupee'; font-size: 16px;}