#div_upper_left .learners_head_bold
{
    font-weight: bold;
}
#div_upper_left .home_head_bold
{
    font-weight: normal;
}
#send_activate_mail_for_bounced
{
    text-align: right;
    margin-right: 10px;
}
#activate_button
{
    color: #FFFFFF;
    -moz-border-radius:5px 5px 5px 5px;
    background-color:gray;
    border: 1px gray;
    height: 22px;
    width: 70px;
}
.div_table td .bounced_input_field
{
    width: 190px;
    margin-top: 5px;
    margin-bottom: 0px;
}
#send_activation_mail
{
    color: #FFFFFF;
    -moz-border-radius:5px 5px 5px 5px;
    background-color:gray;
    border: 1px gray;
    height: 22px;
    width: 140px;
}
.div_table #select_all,#select_none
{
    border:white 1px solid;
    font-size: 10px;
    margin-left: 15px;
    padding: 0px 2px 0px 0px;
    background-color: white;
    color: blue;
    cursor: pointer;
}
h1 a
{
    font-size: 10px;
    color: blue;
}