/* 
    Document   : packages
    Created on : 3 Jul, 2012, 11:24:51 AM
    Author     : pranitha
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
.label-align{
    margin-left:12px;
}
#package_name,
#package_description,
#package_instructions{
    border: 1px solid #CCCCCC;
    margin-left:12px;
    margin-bottom: 15px;
}
#dotted_line{
    margin-top:10px;
    margin-bottom:10px;
    margin-left:12px;
    width:690px;
    border-bottom:1px dotted lightgrey;
}
.add_course_assessment_button{
    border: gray 1px solid;
    width: 22%;
    padding: 3px 10px;
    background-color: gray;
    color: white;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
    margin-top:8px;
    margin-left:12px;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
}
.add_another_course_assessment_button{
    border: gray 1px solid;
    width: 20%;
    padding: 3px 10px;
    background-color: gray;
    color: white;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
    margin-top:8px;
    margin-left:12px;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
}
select {
    margin: 0;
    margin-left:14px;
    vertical-align: middle;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
}
#rules_to_course{
    margin-left:12px;
}
.submit_button{
    border: gray 1px solid;
    width: 8%;
    padding: 3px 10px;
    background-color: gray;
    color: white;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
    margin-top:8px;
    margin-left:12px;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
}