/*#div_upper_left .qb_head_bold
{
    font-weight: bold;
}
#div_upper_left .home_head_bold
{
    font-weight: normal;
}*/
.div_container {
    width: 960px;
    background-color: white;
    margin: 0px auto;
    overflow: hidden;
    color: black;
    font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding-bottom: 10px;
}

.qb { margin-top: 20px }

.new_question_bank_button input[type="submit"] {
    border: gray 1px solid;
    width: 12%;
    padding: 3px 10px;
    background-color: gray;
    color: white;
    margin-left: 740px;
    text-align: center; /*    font-size: 12px;*/
    cursor: pointer;
    font-weight: normal;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px
}
table {
    margin-top: 30px;
    margin-left: 10px;
    padding: 5px 15px 10px 5px;
    width: 860px
}
.width2 { width: 400px }
.width3 {
    width: 280px;
    margin-top: 5px
}

.width4 {
    width: 350px;
    margin-top: 0px;
    padding-left: 30px
}

.odd { background-color: white }

.even { background-color: #EEEEEE }

th {
    font-weight: normal;
    font-family: "Lucida Grande";
    font-size: 12px;
    color: gray;
    padding-right: 5px
}

.wider_column { width: 26% }

.normal_column { width: 10% }
td {
    text-align: center;
    font-size: 14px;
    height: 22px;
    border-right: 1px dotted lightgrey;
    padding-top: 2px;
    padding-right: 10px
}
.border_none {
    border-right: none
}
td a {
    color: #191919
}
td a:hover {
    color: blue;
    cursor: pointer
}
td i {
    font-size: 10px;
    color: gray
}
.topics {
    text-align: left;
    font-family: Sans-serif;
    padding: 2px 2px 2px 5px
}
.topics_data {
    text-align: right
}
.subtopics {
    text-align: left;
    padding: 2px 2px 2px 18px;
    color: grey
}
.subtopics_data {
    text-align: right;
    color: grey
}
.text {
    margin-left: 80px;
    margin-top: 10px;
    color: black;
    font-size: 10px
}
.text a {
    color: blue
}
.back_to_qb {
    color: blue;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 10px
}
.back_to_qb a {
    color: blue
}
.back_to_qb a:hover {
    text-decoration: underline;
    cursor: pointer
}
.questionbank_title {
    margin-left: 12px;
    padding-top: 8px;
    padding-bottom: 3px;
    font-size: 18px;
    font-weight: bold
}
.questionbank_title i {
    font-size: 10px;
    color: gray
}
.topic_name {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 200
}
.mainpanel {
    margin: 8px;
}
.question {
    margin-left: 10px /*    font-size:12px;*/
}
.answer_status {
    color: red;
    font-weight: normal; /*    font-size:12px;*/
    margin-left: 15px;
    margin-top: 5px
}
.choices {
    margin-top: 2px;
    margin-left: 10px;
    font-weight: normal /*    font-size:12px;*/
}
.tags {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 10px;
/*    font-weight: normal;*/
}
.explanation {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 12px;
/*    font-weight: normal;*/
}
.edit_delete {
    font-size: 10px;
    margin-left: 20px;
    margin-top: 5px
}
.edit_delete a {
    color: blue;
    text-decoration: underline
}
.adding_questions_title {
    margin-left: 10px;
    margin-top: 20px /*    font-size:12px;*/
}
.adding_questions_title a {
    color: blue
}
.adding_questions_title a:hover {
    text-decoration: underline
}
.browsing {
    margin-left: 10px;
    height: 10px
}
.browsing .adding_file {
    float: left;
    position: absolute
}
.add_questions_manually_button input[type="button"]{
    border: gray 1px solid;
    width: 15%;
    background-color: white;
    color: blue;
    margin-left: 790px;
    margin-top: -6px;
    height: 30px;
    text-align: center; /*    font-size: 12px;*/
    cursor: pointer;
    font-weight: normal;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px
}
.add_btn input[type="submit"] {
    border: gray 1px solid;
    width: 6%;
    padding: 3px 5px;
    background-color: gray;
    color: white;
    margin-left: 12px;
    margin-top: 20px;
    text-align: center; /*    font-size: 12px;*/
    cursor: pointer;
    font-weight: normal;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px
}
.topic {
    margin-top: 16px;
    margin-left: 18px;
    font-weight: normal
}
.topic_name_char { margin-top: 5px
}
.topic_text {
    margin-left: 14px;
    position: absolute /*    font-size:12px;*/
}
.max_chars {
    color: gray; /*    font-size:12px;*/
    margin-left: 347px;
    position: absolute;
    margin-top: 12px
}
.done_button input[type="submit"]{
    border: gray 1px solid;
    width: 4%;
    padding: 3px 10px 3px 10px;
    background-color: gray;
    color: white;
    margin-left: 16px;
    margin-top: 30px;
    text-align: center; /*    font-size: 12px;*/
    cursor: pointer;
    font-weight: normal;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px
}
.border_radius input[type="submit"]{
    cursor: pointer;
    font-weight: normal;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px
}
.save_question_button input[type="submit"] {
    border: gray 1px solid;
    width: 200px;
    padding: 3px 10px 3px 10px;
    background-color: gray;
    color: white;
    margin-left: 16px;
    margin-top: 30px;
    text-align: center; /*    font-size: 12px;*/
    cursor: pointer;
    font-weight: normal;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px
}
.add_questions_button input[type="submit"] {
    border: gray 1px solid;
    width: 8%;
    padding: 3px 10px 3px 10px;
    background-color: gray;
    color: white;
    margin-left: 640px;
    margin-top: 0px;
    position: absolute;
    text-align: center; /*    font-size: 12px;*/
    cursor: pointer;
    font-weight: normal;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px
}
.new_topic_button input[type="button"] {
    border: gray 1px solid;
    width: 10%;
    padding: 3px 10px 3px 10px;
    background-color: gray;
    color: white;
    margin-left: 760px;
    margin-top: 0px;
    text-align: center; /*    font-size: 12px;*/
    cursor: pointer;
    font-weight: normal;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px
}
.create_button input[type="submit"] {
    border: gray 1px solid;
    width: 6%;
    padding: 3px 10px 3px 10px;
    background-color: gray;
    color: white;
    margin-left: 16px;
    margin-top: 40px;
    text-align: center; /*    font-size: 12px;*/
    cursor: pointer;
    font-weight: normal;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px
}
.no_of_questions_errors_topics {
    margin-left: 12px;
    font-weight: normal; /*    font-size:14px;*/
    margin-top: 10px;
    color: #424242
}
.larger_font {
    font-size: 16px
}
.horizontal_dotted_line {
    border-bottom: 1px dotted lightgrey;
    width: 720px;
    margin-top: 5px;
    padding-top: 10px
}
.edit_question_title {
    margin-top: 5px; /*    font-size:12px;*/
    margin-left: 12px
}
.edit_question textarea {
    margin-top: 5px;
    margin-left: 12px
}
.add_image_title {
    margin-top: 1px;
    margin-left: 12px
}
.add_image_title a {
    color: blue;
    text-decoration: underline
}
.add_image_title a:hover {
    cursor: pointer;
}
.answer_options_title {
    font-size: 10px;
    margin-top: 10px;
    margin-left: 12px /*    color:grey;*/
}
.correct_answer_title {
    margin-left: 145px;
    color: #424242 /*    font-size:12px;*/
}
.answer_options {
    margin: 5px 0px
}
.options {
    margin-top: 5px;
    margin-left: 12px
}
.tag_title {
    margin-top: 5px;
    margin-left: 12px;
    color: black;
    font-size: 10px
}
select {
    margin: 0;
    vertical-align: middle;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    border: 1px solid #ccc;
    background-color: #ffffff
}
.cancel {
    margin-left: 600px;
    color: blue;
    margin-top: 0px
}
.cancel a:hover {
    text-decoration: underline;
    cursor: pointer
}
.smaller_column {
    border-right: none;
    text-align: left
}
.textbox {
    margin-left: 12px;
    margin-right: 30px
}