

h4 {
    font-family: verdana;
    font-size: 10pt;
    color: #ff6600;
    margin: 115px 0 -10px 0;
    }

#dlog_vcard {
    margin: -90px 10px 25px 10px;
    padding: 0px 0px 10px 10px;
    clear: both;
    color: #333333;
       

    }

#dlog_vcard h3{
    font-weight: 100;
    font-family: verdana;
    border-top: gray 2px solid;
    font-size: 12px;
    color: #333333;
    margin: 12px 0 -3px 0;
    padding: 10px 10px 0px 0;
    }

.dlog_vcard_contact_box {
    width: 115px;
    overflow: hidden;
    color: #333333;
    width: 230px;
    margin: 10px 0 0 12px;
    }

.dlog_vcard_contact_box span{
    display: block;
    margin: 0px 0 0 40px;
    color: #333333;
    font-size: 11px;
    font-weight: bold;
    }

.dlog_vcard_contact_box a {
    color: #000;
    text-decoration:underline;
    float: left;
    margin: 0 0 0 10px;
    }

.dlog_vcard_contact_box img {
   float: left;
   margin: 3px 3px 0 3px;
   color: #333333;
   width: 24px;
   height: 24px;
   }

#ad_area {
  margin-top: 90px;
  margin-left: 15px;
}

#ad_area img{

   border: none;
}

   
