#report{
    margin-top:40px;
    margin-left:24px;
    margin-right:24px;
/*    background-color: lightblue;*/
}
#component_name{
    font-weight:bold;
    font-size: 16px;
    color:black;
}
#list{
   font-size:14px;
   color:black;
}
#text{
  font-size: 14px;
  color:black;
  margin-bottom: 8px;
}
#three_tiles{
    margin-bottom: 10px;
}
#four_tiles #report_variable{
background-color: #e5e5e5;
width : 225px;
height:100px;
float:left;
margin-right:3px;
text-align: center;
font-size:22px;
margin-bottom: 20px;
}
#three_tiles #report_variable{
background-color: #e5e5e5;
width : 300px;
height:100px;
float:left;
margin-right: 3px;
text-align: center;
font-size:22px;
margin-bottom: 20px;
}
#two_tiles #report_variable{
background-color: #e5e5e5;
width : 452px;
height:100px;
float:left;
margin-right:3px;
text-align: center;
font-size:22px;
margin-bottom: 20px;
}

#list #report_variable #variable_name{
    float:left;
}
#two_tiles #report_variable #variable_name,
#three_tiles #report_variable #variable_name,
#four_tiles #report_variable #variable_name{
   margin-top:60px;
   color:black;
}
#two_tiles #report_variable .variable_value,
#three_tiles #report_variable .variable_value,
#four_tiles #report_variable .variable_value{
    margin-top: -80px;
    font-size: 40px;
    font-weight:bold;
    color:black;
}

/*--------for Question wise report----------*/
.top_left_obj_name {
    width: 890px;
}
#div_report_question_paper li {
    width: 650px;
}
#div_report_question_paper{
    font-size:12px;
}
.question_points{
    font-weight: normal;
    font-size:14px;
}
/*----------------------------------*/
.done_button{
  background-color: gray;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 3px 8px;
  clear: right;
  -moz-border-radius-topleft : 5px;
  -moz-border-radius-topright : 5px;
  -moz-border-radius-bottomleft : 5px;
  -moz-border-radius-bottomright : 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}