<table id="variables_list_table" cellspacing="0">
  <th style="background-color:#e5e5e5;text-align: left;">
    If you want
  </th>
  <th style="background-color:#e5e5e5;text-align: left;">Use this Variable</th>
  <tr>
    <td>Company name</td>
    <td>[tenant_name]</td>
  </tr>
  <tr>
    <td>Learner Name</td>
    <td>[learner_name]</td>
  </tr>
  <tr>
    <td>Learner Email</td>
    <td>[learner_email]</td>
  </tr>
  <tr>
    <td>Course Name</td>
    <td>[course_name]</td>
  </tr>
  <tr>
    <td>Course Description</td>
    <td>[course_description]</td>
  </tr>
  <tr>
    <td>Course Start Date</td>
    <td>[course_start_schedule]</td>
  </tr>
  <tr>
    <td>Course End Date</td>
    <td>[course_end_schedule]</td>
  </tr>
  <tr>
  <tr><td>Course Duration</td></tr>
  <tr>
    <td>in Hours</td>
    <td>[course_duration_hour]</td>
  </tr>
  <tr>
    <td>in Minutes</td>
    <td>[course_duration_min]</td>
  </tr>
</tr>
<tr>
  <td>Course Status</td>
  <td>[learner_lesson_status]</td>
</tr>
<tr>
  <td>Score</td>
  <td>[learner_lesson_raw_score]</td>
</tr>
<tr>
  <td>Total Score</td>
  <td>[learner_lesson_max_score]</td>
</tr>
<tr>
  <td>Grade</td>
  <td>[learner_lesson_credit]</td>
</tr>
</table>