<% if request.subdomain.nil? or request.subdomain.blank?
  @tenant = current_user.tenant
else
  @tenant = Tenant.find_by_custom_url(request.subdomain)
end
if @tenant.type_of_tenant == "individual buyer" or @tenant.logo_file_size.nil? or @tenant.logo_file_size.blank? then
%>
  <div id="logo"><%= image_tag "lionsher_logo.png" , :size => '130x50' %></div>
<% else %>
  <div id="logo"><%= image_tag @tenant.logo.url(:small) %></div>
<% end %>
  <%#*Two-to-three-upgrade-error%>