<h3>Expiry</h3>
<% if params[:action] == "edit" and @course.course_expiry then %>
  <input type="checkbox" class="checkbox_input" id="expiry" name="course[course_expiry]" checked/>
<% else %>
  <input type="checkbox" class="checkbox_input" id="expiry" name="course[course_expiry]"/>
<% end %>
<span>
  <label class="checkbox_label">Course will expire in </label>
<% no_of_active_days = (@course.end_time - @course.start_time) / (24 * 3600)
   if no_of_active_days.to_i == 0
     no_of_active_days = 1825 # 5 years i.e., 5 * 365
   end
%>
<input style="clear: none;border: 1px solid #CCCCCC;margin-left: 5px;font-size: 10px;" type="text" size="2" maxlength="3" name="no_of_active_days" value="<%= no_of_active_days.to_i %>"/>
</span>
<span><label style="margin-left: 0px;margin-top: -3px;">days</label></span><br/><br/><br/>