<h3>Reattempts</h3>
<% if params[:action] == "edit" and @course.reattempt == "on" then %>
  <input type="checkbox" class="checkbox_input" id="reattempt" name="course[reattempt]" checked onclick="show_div(this,'no_of_reattempts_div')"/>
<% else %>
  <input type="checkbox" class="checkbox_input" id="reattempt" name="course[reattempt]" onclick="show_div(this,'no_of_reattempts_div')"/>
<% end %>
<span>
  <label class="checkbox_label">Allow </label>
<input style="clear: none;border: 1px solid #CCCCCC;margin-left: 5px;font-size: 10px;" type="text" size="2" maxlength="3" name="course[no_of_reattempts]" value="<%= @course.no_of_reattempts %>"/>
</span>
<span><label style="margin-left: 0px;margin-top: -3px;">reattempts of the course</label></span>
<span>The latest score will be shown</span><br/>