<%= stylesheet_link_tag 'courses_content'  %>
<div id="div_container">
  <div id="div_mainpanel">

    <form action="/imports/upload_kesdee_course" method="post" enctype="multipart/form-data" style="margin-bottom: 20px;" >
      <label>Upload kesdee courses excel sheet</label>

    <input id="import_emails_browse" name="import[csv]" size="50" type="file" />

    <input id="import_email_csv_button" type="submit" value="Upload"/>
</form>
<form action="/imports/upload_kesdee_price" method="post" enctype="multipart/form-data" style="margin-bottom: 20px;" >
  <label>Upload kesdee price excel sheet</label>
    <input id="import_emails_browse" name="import[csv]" size="50" type="file" />

    <input id="import_email_csv_button" type="submit" value="Upload"/>
</form>

    <form action="/imports/upload_kern_course" method="post" enctype="multipart/form-data" style="margin-bottom: 20px;" >
      <label>Upload kern courses excel sheet</label>

    <input id="import_emails_browse" name="import[csv]" size="50" type="file" />

    <input id="import_email_csv_button" type="submit" value="Upload"/>
</form>


    <% courses =  Course.all
    courses.each { |course|
   %>
      <%= course.course_library %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= course.course_price %>
    <br/>

    <%
  } %>
  </div>
</div>