<% if @completed.length < 1 %>
  <td align="center" valign="middle"> - </td>
<% else %>
  <td align="center" valign="middle"><%=h @completed.length %></td>
<% end
if @incomplete.length < 1 %>
  <td align="center" valign="middle"> - </td>
<% else %>
  <td align="center" valign="middle"><%=h @incomplete.length %></td>
<% end
if @unattempted.length < 1 %>
  <td align="center" valign="middle"> - </td>
<% else %>
  <td align="center" valign="middle"><%=h @unattempted.length %></td>
<% end
if @timeup.length < 1 %>
  <td align="center" valign="middle"> - </td>
<% else %>
  <td align="center" valign="middle"><%=h @timeup.length %></td>
<% end %>