</div>

</div>
</div>
<% recent_blog_id = Blog.maximum(:id)
   blog = Blog.find_by_id(recent_blog_id) %>
<!-- footer start -->
<div id="main">
  <div id="main_footer">
    <div id="main_footer_content">
      <p><a href="/about_us">About Us</a></p> <div class="pipe">| </div><p><a href="/contact_us">Contact Us</a></p> <div class="pipe">| </div> <p> <a href="/privacy_policy"> Privacy Policy </a></p> <div class="pipe">| </div>  <p> <a href="/terms"> Terms & Conditions </a></p> <div class="pipe">| </div> <p><a href="/learningden">LionSher Blog</a></p>
      <div id="follow_us" >
        <p style="margin-top: 5px;font-weight: normal;color: #999999;">Follow LionSher on</p>
        <p><a href="http://www.linkedin.com/groups?gid=3053190" target="_blank"><%= image_tag "linkedin_footer.png", :alt => "linkedin" %></a></p>
        <p><a href="http://twitter.com/lionsherden" target="_blank"><%= image_tag "twitter_footer.png", :alt => "twitter" %></a></p>
        <p><a href="/learningden/rss" target="_blank"><%= image_tag "rss_footer.gif" %></a></p>
      </div>
    </div>
  </div>
</div>

<!-- footer end -->
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-103876-7");
    pageTracker._trackPageview();
  } catch(err) {}
</script>

</body>
</html>
