<%#= render :partial => "/layouts/home_header" %>
<%#= yield  %>
<%#= render :partial => "/layouts/home_footer" %>

<%= stylesheet_link_tag    "website/index" %>
<div class="container">
  <%=  render :partial =>"header_home_new" %>
  <%= yield %>
  <%=  render :partial =>"footer_home_new" %>
</div>